<app-plantilla-fondo titulo='Lista de artículos'>

    <!-- SEARCH -->
    <div search class="search-wrapper  ml-sm-32">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" style="background-color: white;">
            <mat-icon style="color: gray;">search</mat-icon>
            <input #filter placeholder="Búsqueda por descripción">
        </div>
    </div>
    <!-- / SEARCH -->


    <table contenido mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

        <!--- ['id', 'codigoArticulo', 'nombre', 'descripcion', 'codigoBarra'] -->
    
        <ng-container matColumnDef="id">
            <th (click)="ordenar(1)" mat-header-cell *matHeaderCellDef> Id </th>
            <td (click)="irAlArticulo(element.articulo.codigoArticulo)" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="codigoArticulo">
            <th (click)="ordenar(2)" mat-header-cell *matHeaderCellDef> Código Artículo </th>
            <td (click)="irAlArticulo(element.articulo.codigoArticulo)" mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th (click)="ordenar(3)" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td (click)="irAlArticulo(element.articulo.codigoArticulo)" mat-cell *matCellDef="let element"> {{element.articulo.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th (click)="ordenar(4)" mat-header-cell *matHeaderCellDef> Descripción </th>
            <td (click)="irAlArticulo(element.articulo.codigoArticulo)" mat-cell *matCellDef="let element"> {{element.articulo.descripcion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="codigoDeBarra">
            <th (click)="ordenar(5)" mat-header-cell *matHeaderCellDef> Código de Barras </th>
            <td (click)="irAlArticulo(element.articulo.codigoArticulo)" mat-cell *matCellDef="let element"> {{element.codigoDeBarra}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div contenido>
        <mat-paginator [length]="29"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 14, 30]"
            (page) = "paginar($event)">
        </mat-paginator>
    </div>
</app-plantilla-fondo>