<app-plantilla-fondo-simple titulo='Busqueda de pedidos a remitir'>

    <!-- CONTENIDO -->
    <div contenido >

        <div fxLayout="column" class="fuse-card" style="max-width: 100%;">

            <div fxLayout="row">

                <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">
                    <div fxLayout="row">
        
                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>Desde</mat-label>
                            <input matInput 
                                [min]="minDateDesdeFiltro" [max]="maxDateDesdeFiltro" 
                                [matDatepicker]="pickerFiltroDesde" 
                                (dateChange)="addEvent('pickerDesde', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerFiltroDesde"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFiltroDesde></mat-datepicker>
                        </mat-form-field>   
                    
                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>Hasta</mat-label>
                            <input matInput 
                                [min]="minDateHastaFiltro" [max]="maxDateHastaFiltro"   
                                [matDatepicker]="pickerFiltroHasta" 
                                (dateChange)="addEvent('pickerHasta', $event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerFiltroHasta"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFiltroHasta></mat-datepicker>
                        </mat-form-field>                      
                    </div>

                    <div fxLayout="row">
                        
                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>{{ filtroTipos ? 'Tipos' : 'Cargando...'}}</mat-label>
                            <select matNativeControl (change)="selectTipo($event)" [disabled]="!filtroTipos">
                                <option *ngFor="let tipo of filtroTipos" [value]="tipo.id"
                                    [selected]="selectedTipo === tipo.id"> {{ tipo.nombre }}</option>
                            </select>
                        </mat-form-field> 

                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>{{ filtroTipos ? 'Dársena' : 'Cargando...'}}</mat-label>
                            <select matNativeControl (change)="selectDarsena($event)" [disabled]="!filtroDarsena">
                                <option *ngFor="let darsena of filtroDarsena" [value]="darsena.id"
                                    [selected]="selectedDarsena === darsena.id"> {{ darsena.nombre }}</option>
                            </select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row">
                        <div class="h2 m-24">Pedidos</div>

                        <mat-form-field appearance="outline" style="width: 75%;" class="mt-8 mx-12">
                            <mat-label>Código de Artículo o Comprobante</mat-label>
                            <input #buscarCbte class="text-uppercase" (keyup)="searchCbte()" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="m-24">

                            <button (click)="remitir()" mat-raised-button color="primary" 
                                [matBadge]="selection.selected.length" 
                                [matBadgeHidden]="selection.selected.length===0" 
                                matBadgeColor="warn">
                                Remitir
                            </button>
                        </div>
                    </div>
                </form>                
            </div>

            
        </div>
        
        <div class="mat-card my-24">            
            <ng-container *ngTemplateOutlet="articulos"></ng-container>
        </div>

    </div>
        
        
        
    <!-- / CONTENIDO -->


</app-plantilla-fondo-simple>
<br>
<br>
<br>


<ng-template #articulos>

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8">

        <!-- 'select', 'CodigoArticulo', 'Comprobante', 'Fecha-Entrega', 'Cliente' -->

      
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef class="px-24">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let row" class="px-24">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="CodigoArticulo">
            <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Cód. Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}}</td>
        </ng-container>
      
        <ng-container matColumnDef="Comprobante">
            <th mat-sort-header="nroCbte" mat-header-cell *matHeaderCellDef> Comprobante </th> -->
            <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCbte.nroCbte}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Fecha-Entrega">
            <th mat-sort-header="fechaDeEntrega" mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.fechaDeEntrega | date:'shortDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="Cliente">
            <th mat-sort-header="codigoCliente" mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCliente.codigo}} </td>
        </ng-container>    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-template>