.inputCantidad {
    width: 150px;
}

.aclaracion {
    margin-bottom: 25px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #777777;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 60px;
    margin-top: 4px;
}

.boldFont {
    font-weight: bold;
}