<app-plantilla-fondo-simple titulo='Ordenes de Distribucion'>
    <!-- CONTENIDO -->
    <div contenido>
        <div class="btnCrear">
            <button mat-raised-button (click)="redirecCrearOrden()" color="light">Crear orden</button>
        </div>
        <div fxLayout="column">
            <div fxLayout="row" class="content-card pb-4">
                <div fxFlex="100" class="fuse-card pl-24 pr-24 mr-8">
                    <ng-container *ngTemplateOutlet="busquedaOrden"></ng-container>

                    <ng-container *ngTemplateOutlet="listaOrdenes"> </ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENIDO -->

    <!-- SIDE BAR -->
    <fuse-sidebar name="sidebarFilter" class="theme-options-sidebar" position="right" [invisibleOverlay]="false">

        <div fxLayout="column">
            <!-- BOTON CERRAR -->
            <span fxLayoutAlign="start">                       
            <button fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter ')" class="mb-24">
                <mat-icon>close</mat-icon>
            </button> 
        </span>
        </div>
    </fuse-sidebar>
    <!-- / SIDE BAR -->

    <!-- FILTROS LOTE -->
    <ng-template #busquedaOrden>
        <div fxLayout="column">
            <div class="controlesBusqueda">
                <div fxLayout="row">
                    <mat-form-field appearance="outline" class="inputBuscar">
                        <mat-label>Buscar Orden por Cupa</mat-label>
                        <input #buscarOrdenPorCupa (keyup)="searchOrden()" matInput value="" placeholder="Ingrese un Cupa">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <div class="botonesBusqueda">
                        <button (click)="buscarOrdenPorCUPA()" class="btnBuscar" [disabled]="!this.cupa" mat-raised-button color="primary">Buscar</button>
                    </div>
                </div>

                <mat-form-field appearance="outline" fxFlex="20" class="ml-4 mt-16 selectMostrar">
                    <mat-label>Filtrar por</mat-label>
                    <mat-select [(ngModel)]="selecccionDeEstado" name="food">
                        <mat-option *ngFor="let estado of estados" [value]="estado.valor">
                            {{estado.vista}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
    </ng-template>
    <!-- / FILTROS LOTE -->

    <ng-template #listaOrdenes>
        <!-- Lista de Lotes -->
        <div style="width: 100%; overflow: auto;">
            <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let orden"> {{ orden.id }} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let orden"> {{ orden.nombre }} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha Alta </th>
                    <td mat-cell *matCellDef="let orden"> {{ getSoloFecha(orden.fecha) }} </td>
                </ng-container>

                <ng-container matColumnDef="cantArticulos">
                    <th mat-header-cell *matHeaderCellDef> Articulos</th>
                    <td mat-cell class="example-button-row pl-16" *matCellDef="let orden">{{ orden.cantArticulos }} </td>
                </ng-container>

                <ng-container matColumnDef="cantArticulosACargar">
                    <th mat-header-cell *matHeaderCellDef> A Cargar</th>
                    <td mat-cell class="example-button-row pl-16" *matCellDef="let orden">
                        <p *ngIf=" orden.cantArticulosACargar > 0" class="articulosAcargar">{{ orden.cantArticulosACargar }}</p>
                        <p *ngIf=" orden.cantArticulosACargar === 0" class="articulosAcargarCero">{{ orden.cantArticulosACargar }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cantRemitos">
                    <th mat-header-cell *matHeaderCellDef> Remitos</th>
                    <td mat-cell class="example-button-row pl-16" *matCellDef="let orden">{{ orden.cantRemitos }} </td>
                </ng-container>

                <ng-container matColumnDef="localidad">
                    <th mat-header-cell *matHeaderCellDef> Localidad</th>
                    <td mat-cell class="example-button-row" *matCellDef="let orden">{{ orden.localidad }} </td>
                </ng-container>

                <ng-container matColumnDef="transporte">
                    <th mat-header-cell *matHeaderCellDef> Transporte </th>
                    <td mat-cell class="example-button-row" *matCellDef="let orden">{{ orden.transporte }} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell class="example-button-row" *matCellDef="let orden">{{ orden.estado }} </td>
                </ng-container>

                <ng-container matColumnDef="seleccionar">
                    <th mat-header-cell class="pl-16" *matHeaderCellDef> Acción </th>
                    <td mat-cell class="example-button-row" *matCellDef="let orden">
                        <button mat-stroked-button color="primary" (click)="verOrden(orden)"> Ver Orden </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div contenido class=" mb-4 ">
                <mat-paginator (page)="paginar($event)" [length]="length" [pageIndex]="page" [pageSize]="size" [pageSizeOptions]="[50, 250, 500]">
                </mat-paginator>
            </div>
        </div>
    </ng-template>