<ng-container
  *ngIf="this.length > 0; then hasCUPA; else notHasCUPA">
</ng-container>


<ng-template #notHasCUPA>
    <mat-card class="align-items: center;">{{this.mensaje}}</mat-card>
</ng-template>

<ng-template #hasCUPA>

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSourceCUPA" class="mat-elevation-z8" style="width: 100%;">
      
        <!-- Lote Column -->
        <ng-container matColumnDef="lote">
            <th mat-sort-header="idLote" mat-header-cell *matHeaderCellDef> Lote </th>
            <td mat-cell *matCellDef="let element"> 1 </td>
        </ng-container>
        
          <!-- codigoArticulo Column -->
          <ng-container matColumnDef="codigoArticulo">
              <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Código Artículo </th>
              <td mat-cell *matCellDef="let element"> MPLAPLA010 </td>
          </ng-container>
      
        <!-- CUPA Column -->
        <ng-container matColumnDef="codigoUnicoParteArticulo">
            <th mat-sort-header="codigoUnicoParteArticulo" mat-header-cell *matHeaderCellDef> CUPA </th>
            <td mat-cell *matCellDef="let element"> 01234567890753 </td>
        </ng-container>
        
          <!-- etapa Column -->
          <ng-container matColumnDef="etapa">
              <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> Etapa </th>
              <td mat-cell *matCellDef="let element"> EN LOTE </td>
          </ng-container>
      
        <!-- estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-sort-header="estado" mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> EN PROCESO </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCupa"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCupa;"></tr>
    </table>

    <div contenido class=" mb-4">
        <mat-paginator [length]="length"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 15, 100]"
            (page) = "paginar($event)">
        </mat-paginator>
    </div>
</ng-template>