
<div class="father">
<div fxLayout="row" style="width: 100%;">
    
        <mat-toolbar-row fxLayoutAlign="center" class="titulo2">
            <h2 mat-dialog-title>{{data.titulo}}</h2>
        </mat-toolbar-row>
   
</div>
<!-- <h2 mat-dialog-title>{{data.titulo}}</h2> -->

<mat-dialog-content class="mat-typography">

    <p>{{data.mensaje}}</p>

    <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close="true" class="boton">Aceptar</button>
    </mat-dialog-actions>
</mat-dialog-content>
</div>