<app-plantilla-fondo-simple *ngIf="titulo" titulo='Control de {{this.titulo}}'>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column">

            <!-- Filtros en Pantalla grande -->
            <div fxLayout="row" class="content-card pb-4">

                <!-- LOTE -->
                <div fxFlex="100" class="fuse-card p-24 mr-8">

                    <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>


                    <button [disabled]="!this.lote" mat-raised-button color="primary" (click)="buscarLote()" class="p-8" style="width: 100%;">Buscar Lote</button>
                </div>

            </div>
            <!-- / Filtros en Pantalla grande -->


            <!-- SECCION ARTICULOS -->

            <!-- / SECCION ARTICULOS -->
        </div>



    </div>
    <!-- / CONTENIDO -->
</app-plantilla-fondo-simple>



<!-- SIDE BAR -->
<fuse-sidebar name="sidebarFilter" class="theme-options-sidebar" position="right" [invisibleOverlay]="false">

    <div fxLayout="column">

        <!-- BOTON CERRAR -->
        <span fxLayoutAlign="start">

            <button fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="mb-24">
                <mat-icon>close</mat-icon>
            </button> 
        </span>
        <!-- / BOTON CERRAR -->


        <!-- FILTROS LOTE -->
        <!-- <span class="p-24 pt-8">
    
            <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>
        </span> -->
        <!-- / FILTROS LOTE -->


        <!-- / FILTRO ARTICULOS -->

    </div>

</fuse-sidebar>
<!-- / SIDE BAR -->



<!-- FILTROS LOTE -->
<ng-template #filtrosLote>

    <div fxLayout="column">

        <mat-form-field appearance="outline">
            <mat-label>Lote</mat-label>
            <input #buscarLote (keyup)="searchLote()" matInput value="" placeholder="Buscar lote">
            <!-- <input matInput value="" placeholder="Buscar lote"> -->
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- <div fxLayout="row">

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Código de Artículo o Comprobante</mat-label>
                <input #buscarCbte class="text-uppercase" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

        </div> -->
    </div>
</ng-template>
<!-- / FILTROS LOTE -->