<app-plantilla-fondo-simple titulo='{{this.titulo}}' arrowBack=true>



    <div contenido>

        <!-- CONTENIDO -->
        <div fxLayout="column" class="fuse-card" style="max-width: 100%; border-radius: 5px;">
            <div class="mat-card border-radius: 5px;">
                <div class="h2 m-24 border-radius: 5px;">Datos del Comprobante</div>

                <div fxLayout="row">

                    <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">

                        <div fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="20%" class="ml-4 mr-4">
                                <mat-label>Tipo</mat-label>
                                <input disabled matInput value="{{this.tipoCbte}}">
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="30%" class="ml-4 mr-4">
                                <mat-label>Número</mat-label>
                                <input disabled matInput value="{{this.numeroCbte}}">
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50%" class="ml-4 mr-4">
                                <mat-label>Cliente</mat-label>

                                <input disabled matInput [value]="codigoCliente + '-' + nombreCliente">

                            </mat-form-field>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div *ngIf="this.dataSourceArticulos.length > 0">
            <div class="mat-card  my-24">
                <div fxLayout="column" class="fuse-card" style="max-width: 100%;">
                    <div class="h2 m-24">Articulos pendientes de remitir</div>

                    <ng-container>
                        <table mat-table [(dataSource)]="this.dataSourceArticulos" class="mat-z8" style="width: 100%;" #tabla1>

                            <ng-container matColumnDef="select" sticky>
                                <th mat-header-cell *matHeaderCellDef class="px-24">
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>

                                <td mat-cell *matCellDef="let row" class="px-24">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="codigoArticulo">
                                <th mat-header-cell *matHeaderCellDef> Código Artìculo </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigoArticulo}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombreArticulo}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="info">
                                <th mat-header-cell *matHeaderCellDef> Info </th>
                                <td mat-cell class="mx-16" *matCellDef="let element">
                                    <mat-icon #tooltip="matTooltip" matTooltip="{{element.codigoArticuloAsociado}} - {{element.descripcionArticuloAsociado}}" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button">info</mat-icon>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="deposito">
                                <th mat-header-cell *matHeaderCellDef> Deposito </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigoDeposito}} </td>
                            </ng-container>

                            <ng-container matColumnDef="info">
                                <th mat-header-cell *matHeaderCellDef> Info </th>
                                <td mat-cell class="mx-16" *matCellDef="let element">
                                    <mat-icon #tooltip="matTooltip" matTooltip="{{element.codigoArticuloAsociado}} - {{element.descripcionArticuloAsociado}}" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button">info</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="mover">
                                <th mat-header-cell *matHeaderCellDef> Mover </th>
                                <td mat-cell *matCellDef="let element" class="example-button-row">
                                    <button mat-stroked-button color="info">
                                        Mover
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
                        </table>
                    </ng-container>
                </div>
            </div>

            <div class="mat-card  my-24">

                <div class="mt-4 mb-24 pt-4" fxLayout="row" fxLayoutAlign="space-between">

                    <button mat-raised-button color="accent" class="btn" [disabled]="this.selection.isEmpty()" (click)="agregarDatoEntrega()">NUEVO DATO DE ENTREGA</button>

                    <mat-form-field appearance="outline" fxFlex="20" class="ml-4 selectMostrar">
                        <mat-label>Mover a</mat-label>
                        <mat-select (change)="moverDesdeArticulos($event)">
                            <mat-option [value]="-1"> MOVER </mat-option>
                            <mat-option *ngFor="let items of this.dataSourceDatosDeEntrega.listadoDatosDeEntrega; let indexItems = index" [value]="indexItems">
                                {{items.id}} - {{items.direccion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div *ngIf="this.dataSourceDatosDeEntrega.listadoDatosDeEntrega.length > 0">

            <div *ngFor="let item of this.dataSourceDatosDeEntrega.listadoDatosDeEntrega; let indexItem=index" #cards fxLayout="column" class="fuse-card" style="max-width: 100%;">
                <div class="mat-card  my-24">
                    <div class="h2 m-24">
                        {{item.id}} - {{item.direccion}}

                        <button mat-icon-button color="primary" (click)="verDatoEntrega(item)" class="m-12">
                            <mat-icon>visibility</mat-icon>                
                        </button>
                        <button mat-icon-button color="primary" (click)="modificarDatoEntrega(item, indexItem)" class="m-12">
                            <mat-icon>edit</mat-icon>                
                        </button>
                    </div>

                    <ng-container>
                        <table mat-table #tabla2 [dataSource]="item.listaPedidoDetalle" class="mat-z8" style="width: 100%;">

                            <!-- Name Column -->
                            <ng-container matColumnDef="codigoArticulo">
                                <th mat-header-cell *matHeaderCellDef> Código Artìculo </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigoArticulo}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombreArticulo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="mover">
                                <th mat-header-cell *matHeaderCellDef> Mover </th>

                                <td mat-cell *matCellDef="let element; let indexElement = index" class="example-button-row">

                                    <mat-form-field appearance="fill">
                                        <mat-label>Mover a</mat-label>
                                        <select matNativeControl (change)="moverDesdeDatosEntrega($event, element, indexItem, indexElement)">
                                            <option [value]="-2"> MOVER </option>
                                            <option [value]="-1"> Articulos a remitir </option>
                                            <option *ngFor="let items of this.dataSourceDatosDeEntrega.listadoDatosDeEntrega; let indexItems = index" 
                                                    [value]="indexItems"> {{items.id}} - {{items.direccion}} </option>
                                        </select>
                                    </mat-form-field>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPedidoDetalle"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPedidoDetalle;"></tr>
                        </table>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="mat-card  my-24">

            <div class="botones" fxLayout="row">

                <!--<button mat-raised-button color="accent" [disabled]="this.dataSourceArticulos.length > 0" (click)="this.procesar()">Procesar</button>-->
                <button mat-raised-button color="accent" class="boton" [disabled]="this.procesarDatos == false" (click)="this.procesar()">Procesar</button>

                <button mat-stroked-button class="mr-5px" class="boton" (click)="this.volver()">Cancelar</button>
            </div>
        </div>
    </div>

</app-plantilla-fondo-simple>