<ng-container *ngIf="this.length > 0; then hasComprobantes; else notHasComprobantes">
</ng-container>


<ng-template #notHasComprobantes>
    <mat-card class="align-items: center;">{{this.mensaje}}</mat-card>
</ng-template>

<ng-template #hasComprobantes>

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSourceComprobantes" class="mat-z8" style="width: 100%;">

        <!-- tipoCbte Column -->
        <ng-container matColumnDef="codigoArticulo">
            <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Código Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element[1].articulo.codigoArticulo}} </td>
        </ng-container>

        <!-- tipoCbte Column -->
        <ng-container matColumnDef="codigoCbte">
            <th mat-sort-header="codigoCbte" mat-header-cell *matHeaderCellDef> Tipo Cbte </th>
            <td mat-cell *matCellDef="let element"> {{element[0].pedidoTipoCbte.codigoCbte}} </td>
        </ng-container>

        <!-- nroCbte Column -->
        <ng-container matColumnDef="nroCbte">
            <th mat-sort-header="nroCbte" mat-header-cell *matHeaderCellDef> Nro Cbte </th>
            <td mat-cell *matCellDef="let element"> {{element[0].nroCbte}} </td>
        </ng-container>

        <!-- nroCbte Column -->
        <ng-container matColumnDef="fechaCbte">
            <th mat-sort-header="fechaCbte" mat-header-cell *matHeaderCellDef> Fecha Cbte </th>
            <td mat-cell *matCellDef="let element"> {{element[0].fechaCbte}} </td>
        </ng-container>

        <!--  <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef> Info </th>
            <td mat-cell class="mx-16" *matCellDef="let element">

                <ng-container *ngIf="element.pedidoDetalles[0].codigoArticuloAsociado; then conInfo; else sinInfo"></ng-container>

                <ng-template #conInfo>
                    <mat-icon #tooltip="matTooltip" matTooltipClass="tooltip" matTooltip="{{element.pedidoDetalles[0].codigoArticuloAsociado}} - {{element.pedidoDetalles[0].descripcionArticuloAsociado}}" matTooltipPosition="above" matTooltipHideDelay="100" aria-label=""
                        class="example-button tooltip">info</mat-icon>
                </ng-template>

                <ng-template #sinInfo>
                    <mat-icon #tooltip="matTooltip" matTooltip="" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button">info</mat-icon>
                </ng-template>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="accent" (click)="verRemito( element[1].remito.id )"> Ver remito</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCbts"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCbts;"></tr>
    </table>

    <div contenido class=" mb-4">
        <mat-paginator [length]="length" [pageIndex]="page" [pageSize]="size" [pageSizeOptions]="[5, 10, 15, 100]" (page)="paginar($event)">
        </mat-paginator>
    </div>
</ng-template>