<app-plantilla-fondo-simple titulo='Lista de pedidos a trabajar'>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column">

            <div fxLayout="row" class="content-card pb-4">
    
                <!-- LOTE -->
                <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="60" class="fuse-card p-24 mr-8">

                    <span fxLayout="row" fxLayoutAlign="space-between">

                        <div class="h2 mb-24">
                            Filtros por Lote
                        </div>
    
                        <button fxShow fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter')">
                            <mat-icon>tune</mat-icon>
                            Filtros por artículos
                        </button>
                    </span>
    
    
                    <mat-form-field appearance="outline">
                        <mat-label>Lote</mat-label>
                        <input matInput value="" placeholder="Buscar lote">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>  
    
                    <div fxLayout="row">
        
                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>Desde (lote)</mat-label>
                            <input matInput [matDatepicker]="pickerLoteDesde">
                            <mat-datepicker-toggle matSuffix [for]="pickerLoteDesde"></mat-datepicker-toggle>
                            <mat-datepicker #pickerLoteDesde></mat-datepicker>
                        </mat-form-field>   
    
                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>Hasta (lote)</mat-label>
                            <input matInput [matDatepicker]="pickerLoteHasta">
                            <mat-datepicker-toggle matSuffix [for]="pickerLoteHasta"></mat-datepicker-toggle>
                            <mat-datepicker #pickerLoteHasta></mat-datepicker>
                        </mat-form-field>                      
                    </div>
    
                    <!-- <button mat-raised-button color="primary" (click)="crearLote()" class="mt-24 p-8">CREAR LOTE</button> -->
                </div>
                <!-- / LOTE -->
    


                <!-- FILTROS -->
                <span fxHide.sm fxHide.xs fxFlex="40" class="fuse-card p-24 ml-8">

                    <ng-container *ngTemplateOutlet="filtros"></ng-container>
                </span>
                <!-- / FILTROS -->

                
    
            </div>

            <div class="fuse-card my-24" style="max-width: 100%;">

                <div fxLayout="row" fxLayoutAlign="space-between">

                    <div class="h2 m-24">Artículos</div>

                    <mat-form-field appearance="outline" style="width: 100%;" class="mt-8 mx-12">
                        <mat-label>Comprobante</mat-label>
                        <input matInput value="" placeholder="Buscar comprobante">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>                      

                    <div class="m-24">

                        <button (click)="crearLote()" mat-raised-button color="primary" 
                                [matBadge]="selection.selected.length"
                                [matBadgeHidden]="selection.selected.length===0"
                                matBadgeColor="warn"
                                [disabled]="selection.selected.length===0">
                                Crear Lote
                        </button>
                    </div>
                </div>

                <ng-container *ngTemplateOutlet="articulos"></ng-container>
            </div>
        </div>



    </div>


    <!-- / CONTENIDO -->


</app-plantilla-fondo-simple>
<br>
<br>
<br>


<!-- SIDE BAR -->
<fuse-sidebar name="sidebarFilter" class="theme-options-sidebar" position="right" [invisibleOverlay]="false">

    <span class="p-24">

        <ng-container *ngTemplateOutlet="filtros"></ng-container>
    </span>
</fuse-sidebar>
<!-- / SIDE BAR -->


<!-- TEMPLATE LISTA -->
<ng-template #articulos>

    <div style="width: 100%; overflow: auto;">

            <table mat-table [dataSource]="dataSource" class="mb-8">
        
                <ng-container matColumnDef="select" sticky>
                    <th mat-header-cell *matHeaderCellDef class="px-24">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
        
                    <td mat-cell *matCellDef="let row" class="px-24">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="Tipo">
                    <th mat-header-cell *matHeaderCellDef class="pl-8"> Tipo </th>
                    <td mat-cell *matCellDef="let element" class="pl-8"> {{element.Tipo}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Codigo-Articulo-Nombre">
                  <th mat-header-cell *matHeaderCellDef> Artículo </th>
                  <td mat-cell *matCellDef="let element"> {{element.CodigoArticulo}} - {{element.Nombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Comprobante">
                    <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                    <td mat-cell *matCellDef="let element"> 
                        <a (click)="consultar()">
        
                            {{element.Comprobante}} 
                        </a>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="Fecha-Entrega">
                  <th mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
                  <td mat-cell *matCellDef="let element"> {{element.FechaEntrega}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Prov-Loc">
                  <th mat-header-cell *matHeaderCellDef> Prov-Loc </th>
                  <td mat-cell *matCellDef="let element"> {{element.Prov}} - {{element.Loc}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Estado-Etapa">
                  <th mat-header-cell *matHeaderCellDef> Estado-Etapa </th>
                  <td mat-cell *matCellDef="let element"> {{element.Estado}} - {{element.Etapa}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Lote">
                  <th mat-header-cell *matHeaderCellDef> Lote </th>
                  <td mat-cell *matCellDef="let element"> {{element.Lote}} </td>
                </ng-container>
              
                <!-- <ng-container matColumnDef="Consultar">
                    <th mat-header-cell *matHeaderCellDef> Consultar </th>
                    <td mat-cell class="example-button-row" *matCellDef="let element"> 
                        <button mat-stroked-button color="primary"(click)="consultar()">Consultar</button>
                    </td>
                </ng-container> -->
                
                
                <ng-container matColumnDef="Borrar">
                    <th mat-header-cell *matHeaderCellDef> Borrar </th>
                    <td mat-cell class="example-button-row" *matCellDef="let element"> 
                        <button mat-stroked-button color="warn" (click)="confirmacionBorrar()">
                            <mat-icon>delete_outline</mat-icon>
                            Borrar
                        </button>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
    </div>
</ng-template>

<!-- / TEMPLATE LISTA -->


<!-- FILTROS -->
<ng-template #filtros>
    <form  fxLayout="column" name="form">
                
        <span fxLayoutAlign="space-between">

            <div class="h2 mb-24">
                <div fxHide.gt-sm class="pt-24"></div>
                Filtros por Artículos
            </div>

            <button fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="mb-24">
                <mat-icon>close</mat-icon>
            </button>            
        </span>

        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <select matNativeControl (change)="selectTipo($event)">
                <option [value]="0">TODOS</option>
                <option *ngFor="let tipo of filtroTipos" [value]="tipo.id"
                    [selected]="selectedTipo === tipo.id"> {{ tipo.nombre }}</option>
            </select>
        </mat-form-field>     


        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Turno</mat-label>
                <select matNativeControl (change)="selectTurno($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                        [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                </select>
            </mat-form-field>  

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Origen</mat-label>
                <select matNativeControl (change)="selectOrigen($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let origen of filtroOrigenes" [value]="origen.id"
                        [selected]="selectedOrigen === origen.id"> {{ origen.nombre }}</option>
                </select>
            </mat-form-field>     
        </div>




        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Estado</mat-label>
                <select matNativeControl (change)="selectEstado($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let estado of filtroEstados" [value]="estado.id"
                        [selected]="selectedEstado === estado.id"> {{ estado.nombre }}</option>
                </select>
            </mat-form-field>   

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Etapa</mat-label>
                <select matNativeControl (change)="selectEtapa($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let etapa of filtroEtapas" [value]="etapa.id"
                        [selected]="selectedEtapa === etapa.id"> {{ etapa.nombre }}</option>
                </select>
            </mat-form-field>   
        </div>

        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Provincia</mat-label>
                <select matNativeControl (change)="selectProvincia($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                        [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option>
                </select>
            </mat-form-field>  

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Localidad</mat-label>
                <select matNativeControl (change)="selectLocalidad($event)">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let localidad of filtroLocalidades" [value]="localidad.id"
                        [selected]="selectedLocalidad === localidad.id"> {{ localidad.nombre }}</option>
                </select>
            </mat-form-field>     
        </div>                    

        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="pickerFiltroDesde" (dateInput)="selectFiltroDesde($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerFiltroDesde"></mat-datepicker-toggle>
                <mat-datepicker #pickerFiltroDesde></mat-datepicker>
            </mat-form-field>   

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="pickerFiltroHasta">
                <mat-datepicker-toggle matSuffix [for]="pickerFiltroHasta"></mat-datepicker-toggle>
                <mat-datepicker #pickerFiltroHasta></mat-datepicker>
            </mat-form-field>                      
        </div>

    </form>
</ng-template>
<!-- / FILTROS -->