<app-plantilla-fondo titulo='Código de Barras'>

  <div contenido class="content" fxLayout="row" fxLayoutAlign="center">

    <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">
      
      <div class="h2 mb-24">Editar Código de barras</div>
      
      <mat-form-field appearance="outline">
        <mat-label>Código Articulo</mat-label>
        <input matInput disabled value="{{this.codigoArticulo}}">
      </mat-form-field>
      
      <br>
      
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput disabled value="{{this.nombre}}">
      </mat-form-field>
      
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Código de Barras</mat-label>
        <input matInput [(ngModel)]='this.codigoDeBarras' [ngModelOptions]="{standalone: true}" required autofocus>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput [(ngModel)]='this.descripcion' [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <div class="mt-4 pt-4" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button [disabled]="!this.codigoDeBarras" color="accent" (click)="editar()">Actualizar</button>
        <button mat-stroked-button class="mr-5px" (click)="volver()">Cancelar</button>
      </div>
    </form>
  </div>
</app-plantilla-fondo>