<app-plantilla-fondo-simple titulo='Remitir pedidos' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" class="fuse-card" style="max-width: 100%;">

            <div fxLayout="row">

                <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">
                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>{{ filtroDepositosCarga ? 'Depositos Carga' : 'Cargando...'}}</mat-label>
                            <select matNativeControl (change)="selectDepositoCarga($event)" [disabled]="!filtroDepositosCarga">
                                <option [value]="0">Seleccionar Depósito Carga</option>
                                <option *ngFor="let deposito of filtroDepositosCarga" [value]="deposito.id"
                                    [selected]="selectedDepositoCarga === deposito.id"> {{ deposito.nombre }}</option>
                            </select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>{{ filtroTransportes ? 'Transporte' : 'Cargando...'}}</mat-label>
                            <select matNativeControl (change)="selectTransporte($event)" [disabled]="!filtroTransportes">
                                <option [value]="0">Seleccionar Transporte</option>
                                <option *ngFor="let transporte of filtroTransportes" [value]="transporte.id"
                                    [selected]="selectedTransporte === transporte.id"> {{ transporte.nombre }}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>{{ filtroTalonarios ? 'Talonarios' : 'Cargando...'}}</mat-label>
                            <select matNativeControl (change)="selectTalonario($event)" [disabled]="!filtroTalonarios">
                                <option [value]="0">Seleccionar Talonario</option>
                                <option *ngFor="let talonario of filtroTalonarios" [value]="talonario.nroTalonario"
                                    [selected]="selectedTalonario === talonario.nroTalonario"> {{ talonario.alias }}</option>
                            </select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>Próximo Cbte</mat-label>
                            <input matInput disabled [value]="this.proxCbte">
                        </mat-form-field>

                    </div>

                </form>
            </div>

            <div fxLayout="row">
                <ng-container *ngTemplateOutlet="articulos"></ng-container>
            </div>

        </div>




        <div class="mt-4 mb-24 pt-4" fxLayout="row" fxLayoutAlign="space-between">

            <button mat-raised-button [disabled]="!this.proxCbte" color="accent" (click)="remitir()">Remitir</button>
            <button mat-stroked-button class="mr-5px" (click)="volver()">Cancelar</button>
        </div>

    </div>



    <!-- / CONTENIDO -->


</app-plantilla-fondo-simple>
<br>
<br>
<br>


<ng-template #articulos>

    <div style="width: 100%; overflow: auto;">
        <table mat-table [dataSource]="dataSource2" class="mb-8">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="px-24">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="px-24">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="CodigoArticulo">
                <th mat-header-cell *matHeaderCellDef> Cód. Artículo </th>
                <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}}</td>
            </ng-container>

            <ng-container matColumnDef="Comprobante">
                <th mat-header-cell *matHeaderCellDef> Comprobante </th> -->
                <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCbte.nroCbte}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha-Entrega">
                <th mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.fechaDeEntrega | date:'shortDate'}} </td>
            </ng-container>
            <ng-container matColumnDef="Cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCliente.codigo}} </td>
            </ng-container>
            <ng-container matColumnDef="Localidad">
                <th mat-header-cell *matHeaderCellDef> Localidad </th>
                <td mat-cell *matCellDef="let element"> Mar del Plata </td>
            </ng-container>
            <ng-container matColumnDef="Dir. de entrega">
                <th mat-header-cell *matHeaderCellDef> Dir. de entrega </th>
                <td mat-cell *matCellDef="let element"> 25 de Mayo </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- <table mat-table [dataSource]="dataSource2" class="mb-8">




            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef class="px-24">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row" class="px-24">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="CodigoArticulo">
                <th mat-header-cell *matHeaderCellDef> Cód. Artículo </th>
                <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}}</td>
            </ng-container>

            <ng-container matColumnDef="Comprobante">
                <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCbte.nroCbte}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha-Entrega">
                <th mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.fechaDeEntrega | date:'shortDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="Cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCliente.codigo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->

</ng-template>