<div class="father">
    <div fxLayout="row" style="width: 100%;" class="titulo2">

        <h2>Confirmación de Edición</h2>
        <!--         
        <mat-toolbar-row fxLayoutAlign="center" class="tituloDos">
            <h2 mat-dialog-title>Confirmación de Edición</h2>
        </mat-toolbar-row>
        -->

    </div>
    <mat-dialog-content class="mat-typography">

        <p>Se actualizó el registro correctamente</p>

        <mat-dialog-actions>
            <button mat-raised-button class="boton" mat-dialog-close autofocus>Continuar</button>
        </mat-dialog-actions>

    </mat-dialog-content>
</div>