<app-plantilla-fondo-simple *ngIf="titulo" titulo='Control de {{this.titulo}}'>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column">

            <!-- Filtros en Pantalla grande -->
            <div fxLayout="row" class="content-card pb-4">

                <!-- LOTE -->
                <div fxFlex="100" class="fuse-card p-24 mr-8">

                    <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>


                    <button [disabled]="!this.lote" mat-raised-button color="primary" (click)="buscarLote()" class="p-8" style="width: 100%;">Buscar Lote</button>
                </div>

            </div>
            <!-- / Filtros en Pantalla grande -->


            <!-- SECCION ARTICULOS -->
            <div *ngIf="this.arregloDeDetalles" class="fuse-card my-24" style="max-width: 100%;">

                <!-- BOTON "FILTROS" -->
                <!-- <span fxLayoutAlign="end">

                    <button mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="m-12">
                        <mat-icon>tune</mat-icon>
                        Filtros                
                    </button> 
                </span> -->
                <!-- / BOTON "FILTROS" -->
                <div fxLayout="row" fxLayoutAlign="space-between">

                    <div class="h2 m-24">{{this.nombreLote}}</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">

                    <mat-form-field appearance="outline" style="width: 100%;" class="mt-8 mx-12">
                        <mat-label>Código de Barras</mat-label>
                        <input #buscarCodigoBarras class="text-uppercase" (keyup)="searchCodigoBarras()" matInput value="" placeholder="Código de Barras">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 100%;" class="mt-8 mx-12">
                        <mat-label>CUPA</mat-label>
                        <input #buscarCUPA class="text-uppercase" (keyup)="searchCUPA()" matInput value="" placeholder="CUPA">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <div class="p-16">
                    <button mat-raised-button color="primary" (click)="agregarEstanteria()" class="p-8" style="width: 100%;">Agregar</button>
                </div>

                <div class="p-16">
                    <button mat-raised-button color="warn" (click)="toggle()" class="mb-16 p-8" style="width: 100%;">Eliminar</button>
                </div>
                <div [@esconder]="funcionEsconder" style="width: 100%;">
                    <mat-form-field appearance="outline" style="width: 90%; margin-left: 5%; margin-right: 5%;">
                        <mat-label>Cupa</mat-label>
                        <input #eliminaCupa class="text-uppercase" (keyup)="eliminarCupa()" matInput value="" placeholder="Cupa">
                    </mat-form-field>
                </div>

                <!-- / TITULO/BUSCADOR/BOTON -->

                <app-tabla-retractil [arregloDeDetalles]='this.arregloDeDetalles'></app-tabla-retractil>

                <br>
                <br>

            </div>
            <!-- / SECCION ARTICULOS -->
        </div>



    </div>
    <!-- / CONTENIDO -->
</app-plantilla-fondo-simple>



<!-- SIDE BAR -->
<fuse-sidebar name="sidebarFilter" class="theme-options-sidebar" position="right" [invisibleOverlay]="false">

    <div fxLayout="column">

        <!-- BOTON CERRAR -->
        <span fxLayoutAlign="start">

            <button fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="mb-24">
                <mat-icon>close</mat-icon>
            </button> 
        </span>
        <!-- / BOTON CERRAR -->


        <!-- FILTROS LOTE -->
        <!-- <span class="p-24 pt-8">
    
            <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>
        </span> -->
        <!-- / FILTROS LOTE -->


        <!-- / FILTRO ARTICULOS -->

    </div>

</fuse-sidebar>
<!-- / SIDE BAR -->



<!-- FILTROS LOTE -->
<ng-template #filtrosLote>

    <div fxLayout="column">

        <mat-form-field appearance="outline">
            <mat-label>Lote</mat-label>
            <input #buscarLote (keyup)="searchLote()" matInput value="" placeholder="Buscar lote">
            <!-- <input matInput value="" placeholder="Buscar lote"> -->
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div fxLayout="row">

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Código de Artículo o Comprobante</mat-label>
                <input #buscarCbte class="text-uppercase" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

        </div>
    </div>
</ng-template>
<!-- / FILTROS LOTE -->