<app-plantilla-fondo-simple titulo='Crear Lote'>

    <!-- CONTENIDO -->
    <div contenido >

        <div fxLayout="column" class="fuse-card" style="max-width: 100%;">

            <div fxLayout="row">

                <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">

                    <div fxLayout="row">
    
                        <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                            <mat-label>Fecha</mat-label>
                            <input matInput disabled value="{{this.picker | date:'shortDate'}}">
                        </mat-form-field> 
                        
                        <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                            <mat-label>Cantidad de Pedidos</mat-label>
                            <input matInput disabled type="number" value="{{this.cantidad}}">
                        </mat-form-field> 
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Nombre Lote</mat-label>
                        <input #buscarNombreLote (keyup)="searchNombreLote()" matInput value="" placeholder="Nombre del Lote">
                    </mat-form-field> 
                </form>                
            </div>

            
        </div>
        
        <div class="mat-card my-24">
            <div class="h2 m-24">Pedidos</div>
            
            <ng-container *ngTemplateOutlet="articulos"></ng-container>
        </div>

        <div class="mt-4 mb-24 pt-4" fxLayout="row" fxLayoutAlign="space-between">

            <button mat-raised-button [disabled]="!this.nombreLote"  color="accent" (click)="crearLote()">Crear Lote</button>
            <button mat-stroked-button class="mr-5px" (click)="volver()">Cancelar</button>
        </div>

    </div>
        
        
        
    <!-- / CONTENIDO -->


</app-plantilla-fondo-simple>
<br>
<br>
<br>


<ng-template #articulos>

    <table mat-table [dataSource]="dataSourceArticulos" class="mat-elevation-z8" style="width: 100%;">
      
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef class="px-24">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let row" class="px-24">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Código Artìculo </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="codigoArticulo">
            <th mat-header-cell *matHeaderCellDef> Código Artìculo </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.nombre}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> 1 </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoEtapa.pedidoEstado.nombre}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="etapa">
            <th mat-header-cell *matHeaderCellDef> Etapa </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoEtapa.nombre}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
    </table>

    <div contenido class=" mb-4">
        <mat-paginator [length]="length"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 15, 100]"
            (page) = "paginar($event)">
        </mat-paginator>
    </div>
</ng-template>


<ng-template #prueba>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-template>
