.unaClase {
    justify-content: space-between;
    /* align-items: center; */
}

.colorText {
    color: white;
}

.tabla {
    justify-content: space-between;
}

.tablaArticulos {
    justify-content: space-between;
    width: 100%;
}