<!-- ---------------------------------sadasdasdasd---------------- -->
<app-plantilla-fondo-simple titulo='Controlar Orden' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" style="max-width: 100%;">

            <div fxLayout="row" class="titular">
                <h1 class="colorText"> Orden {{ this.idOrdenDist }}</h1>
            </div>

            <div class="fuse-card my-20 pl-24 pr-24" style="max-width: 100%;">

                <div fxLayout="row" fxLayoutAlign="space-around">

                    <div class="controlesBusqueda">
                        <mat-form-field appearance="outline" class="inputBusqueda">
                            <mat-label>Controlar un articulo por CUPA</mat-label>
                            <!-- (keyup)="searchCUPA()" -->
                            <input #controlarCupa matInput value="" placeholder="Ingrese el CUPA de un articulo">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="botonesBusqueda">
                            <!-- (click)="getRemitoPorId()" -->
                            <button class="btn" mat-raised-button color="primary" (click)="controlarArticuloPorCupa()">
                                Controlar 
                            </button>

                        </div>
                    </div>
                </div>

                <ng-container *ngTemplateOutlet="remitos" class="tablaArticulos"></ng-container>
            </div>
        </div>
    </div>

</app-plantilla-fondo-simple>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<ng-template #remitos>
    <mat-card-subtitle class="pl-16">Articulos que componen la orden</mat-card-subtitle>
    <div style="width: 100%; overflow: auto;">
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8 tablaArticulos">
            <!-- codigoArticulo, id, nombre, partes, codigoUnicoParteArticulo -->
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header="id" *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let remito"> {{ remito.id }} </td>
            </ng-container>

            <ng-container matColumnDef="codComprobante">
                <th mat-header-cell mat-sort-header="nombre" *matHeaderCellDef> Nombre </th>
                <td mat-cell class="pl-32" *matCellDef="let remito"> REM </td>
            </ng-container>

            <ng-container matColumnDef="nroComprobante">
                <th mat-header-cell mat-sort-header="nroComprobante" *matHeaderCellDef> Codigo Articulo </th>
                <td mat-cell *matCellDef="let remito"> {{ remito.nroCbte }} </td>
            </ng-container>

            <ng-container matColumnDef="fechaAlta">
                <th mat-header-cell mat-sort-header="fechaAlta" *matHeaderCellDef> Fecha Alta </th>
                <td mat-cell *matCellDef="let remito"> {{ getSoloFecha(remito.fechaCbte) }} </td>
            </ng-container>

            <ng-container matColumnDef="cantArticulos">
                <th mat-header-cell mat-sort-header="cantArticulos" *matHeaderCellDef> Cant Articulos </th>
                <td mat-cell class="example-button-row pl-32" *matCellDef="let remito">{{ remito.pedidoDetalles.length }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</ng-template>