.titular {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.colorText {
    color: white;
    width: 400px;
    padding-left: 50px;
}

.mat-card {
    border-radius: 10px;
}