.titular {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.colorText {
    color: white;
    width: 400px;
    padding-left: 50px;
}

.mat-card {
    border-radius: 10px;
}

.boldFont {
    font-weight: bold;
}

::ng-deep .tooltip {
    font-size: 24px !important;
    color: #8bc34a;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: rgb(49, 49, 49);
    background-color: #ffffff;
}

 ::ng-deep .mat-tab-list .mat-tab-labels {
    color: #9e9e9e;
    background-color: #f5f5f5;
    border-radius: 5px;
}