    @import "src/@fuse/scss/fuse";
    table {
        width: 100%;
        min-width: 1056px;
    }
    
    td.mat-column-star {
        width: 20px;
        padding-right: 8px;
    }
    
    th.mat-column-position,
    td.mat-column-position {
        padding-left: 8px;
    }
    
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
    
    a {
        cursor: pointer;
    }
    
    fuse-sidebar {
        width: unset !important;
        max-width: unset !important;
    }
    
    .controlesBusqueda {
        display: flex;
        width: 100%;
        align-items: center !important;
        justify-content: flex-start;
    }
    
    .botonesBusqueda {
        display: flex;
        width: 900px;
        align-items: center !important;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .estadoNuevo {
        padding: 4px;
        padding-left: 10px;
        border-radius: 5px;
        color: white;
        background-color: #03a9f4;
        text-transform: uppercase;
        width: 120px !important;
    }
    
    .estadoEstanteria {
        padding: 4px;
        padding-left: 10px;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-color: #fff176;
        text-transform: uppercase;
        width: 120px !important;
    }
    
    .estadoDarsena {
        padding: 4px;
        padding-left: 10px;
        border-radius: 5px;
        color: white;
        background-color: #03a9f4;
        text-transform: uppercase;
        width: 120px !important;
    }
    
    .filtros {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btnToggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .btnCrearLote {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        padding-bottom: 15px;
        /* margin-bottom: 5px; */
    }
    
    .paddingLeft {
        padding-left: 10px;
    }
    
    .inputBuscarLote {
        width: 600px;
        justify-content: flex-start;
        padding-top: 20px;
    }
    
    .btnBuscar {
        height: 40px;
        /* margin-bottom: 27px; */
        width: 120px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .unaclase {
        height: 20px;
        margin: 2px;
    }
    
    .fechas {
        width: 745px;
    }
    
    .contenedorFiltros {
        justify-content: space-between;
    }
    
    @media (max-width: 768px) {
        .btnBuscar {
            height: 60px;
            width: 120px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .inputBuscarLote {
            width: 500px;
            justify-content: flex-start;
            padding-top: 20px;
        }
        .botonesBusqueda {
            width: 400px;
        }
        .fechas {
            width: 100%;
            width: 430px;
        }
        .selectMostrar {
            width: 200px;
        }
        .btnToggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 10px;
        }
    }