<!-- <ng-template #comprobantes> -->
<div style="width: 100%; overflow: auto;">

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" style="width: 100%;">

        <ng-container matColumnDef="Comprobante">
            <th mat-header-cell *matHeaderCellDef style="width: 60px; padding: 15px !important;"> Comprobante </th>
            <td mat-cell *matCellDef="let element" class="dato" style="width: 60px; padding: 15px !important;"> {{ element.nroCbte }} </td>
        </ng-container>

        <!-- *ngIf="element.estadoCeDIS === 'A DESPACHAR'|| element.estadoCeDIS === 'EN PROCESO'" -->
        <ng-container matColumnDef="fechaDeEntrega">
            <th mat-sort-header="fechaDeEntrega" mat-header-cell *matHeaderCellDef> F. Entrega </th>
            <td mat-cell *matCellDef="let element" class="pl-8"> {{ element.fechaDeEntrega | date:'shortDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="priDireccion">
            <th mat-sort-header="priDireccion" mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.cantDireccionEntrega > 1" [matBadge]="'+' + (element.cantDireccionEntrega -1)" matBadgeOverlap="false">{{ element.priDireccion }}, {{element.priLocalidad}}, {{ element.priProvincia }}</span>
                <span *ngIf="element.cantDireccionEntrega <= 1">{{ element.priDireccion }}, {{element.priLocalidad}}, {{ element.priProvincia }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="NombreArticulo">
            <th mat-sort-header="nombreArticulo" mat-header-cell *matHeaderCellDef> Artículo </th>
            <td mat-cell *matCellDef="let element" class="dato">
                <span *ngIf="element.cantArticulos > 1" [matBadge]="'+' + (element.cantArticulos -1)" matBadgeOverlap="false">{{ element.primerCod }} - {{ element.priNombreArticulo }}</span>
                <span *ngIf="element.cantArticulos <= 1">{{ element.primerCod }} - {{ element.priNombreArticulo }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="estadoCeDIS">
            <th mat-sort-header="estadoCeDIS" mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">- {{ element.estadoCeDIS }} -</td>
        </ng-container>

        <ng-container matColumnDef="priEtapa">
            <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> Etapa </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.cantEtapa > 1" [matBadge]="'+' + (element.cantEtapa -1)" matBadgeOverlap="false">{{ element.priEtapa }}</span>
                <span *ngIf="element.cantEtapa <= 1">{{ element.priEtapa }}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div contenido class=" mb-4">
        <mat-paginator [length]="length" [pageIndex]="page" [pageSize]="size" [pageSizeOptions]="[5, 10, 15, 500]" (page)="paginar($event)">
        </mat-paginator>
    </div>
</div>
<!-- </ng-template> -->