<app-plantilla-fondo-simple titulo='Administrar Lotes'>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column">

            <!-- Filtros en Pantalla grande -->
            <div fxLayout="row" class="content-card pb-4">

                <!-- LOTE -->
                <div fxFlex="100" class="fuse-card p-24 mr-8">

                    <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>


                    <button [disabled]="!this.lote" mat-raised-button color="primary" (click)="buscarLote()" class="mt-24 p-8">Buscar Lote</button>
                </div>

            </div>
            <!-- / Filtros en Pantalla grande -->


            <!-- SECCION ARTICULOS -->
            <div *ngIf="this.dataSource2" class="fuse-card my-24" style="max-width: 100%;">

                <!-- BOTON "FILTROS" -->
                <span fxLayoutAlign="end">

                    <button mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="m-12">
                        <mat-icon>tune</mat-icon>
                        Filtros                
                    </button> 
                </span>
                <!-- / BOTON "FILTROS" -->


                <!-- TITULO/BUSCADOR/BOTON -->
                <div fxLayout="row" fxLayoutAlign="space-between">

                    <div class="h2 m-24">{{this.nombreLote}}</div>

                    <mat-form-field appearance="outline" style="width: 100%;" class="mt-8 mx-12">
                        <mat-label>Código de Artículo o Comprobante</mat-label>
                        <input #buscarCbte class="text-uppercase" (keyup)="searchCbte()" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <div class="m-24">

                        <button (click)="sacarDelLote()" mat-raised-button color="primary" [matBadge]="selection.selected.length" [matBadgeHidden]="selection.selected.length===0" matBadgeColor="warn" [disabled]="selection.selected.length===0">
                                Eliminar
                        </button>
                    </div>

                    <div class="m-24">

                        <button (click)="seleccionarImpresora()" mat-raised-button color="primary" [matBadge]="selection.selected.length" [matBadgeHidden]="selection.selected.length===0" matBadgeColor="warn" [disabled]="selection.selected.length===0">
                                Imprimir CUPA
                        </button>
                    </div>
                </div>
                <!-- / TITULO/BUSCADOR/BOTON -->

                <ng-container *ngTemplateOutlet="articulos"></ng-container>
            </div>
            <!-- / SECCION ARTICULOS -->
        </div>



    </div>
    <!-- / CONTENIDO -->
</app-plantilla-fondo-simple>



<!-- SIDE BAR -->
<fuse-sidebar name="sidebarFilter" class="theme-options-sidebar" position="right" [invisibleOverlay]="false">

    <div fxLayout="column">

        <!-- BOTON CERRAR -->
        <span fxLayoutAlign="start">

            <button fxHide.gt-sm mat-button (click)="toggleSidebarOpen('sidebarFilter')" class="mb-24">
                <mat-icon>close</mat-icon>
            </button> 
        </span>
        <!-- / BOTON CERRAR -->


        <!-- FILTROS LOTE -->
        <!-- <span class="p-24 pt-8">
    
            <ng-container *ngTemplateOutlet="filtrosLote"></ng-container>
        </span> -->
        <!-- / FILTROS LOTE -->


        <!-- FILTROS ARTICULOS -->
        <span class="p-24 pt-8">
    
            <ng-container *ngTemplateOutlet="filtros"></ng-container>
        </span>
        <!-- / FILTRO ARTICULOS -->

    </div>

</fuse-sidebar>
<!-- / SIDE BAR -->


<!-- TEMPLATE LISTA -->
<ng-template #articulos>

    <div style="width: 100%; overflow: auto;">

        <!-- <table mat-table [dataSource]="dataSource2" class="mb-8"> -->
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8">

            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef class="px-24">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row" class="px-24">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!--  ['select', 'CodigoArticulo','NombreArticulo', 'CUPA', 'Etapa', 'Comprobante']; -->

            <ng-container matColumnDef="CodigoArticulo">
                <!-- <th mat-header-cell *matHeaderCellDef> Cód. Artículo </th> -->
                <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Cód. Artículo </th>
                <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}}</td>
            </ng-container>

            <ng-container matColumnDef="NombreArticulo">
                <!-- <th mat-header-cell *matHeaderCellDef> Nombre Artículo </th> -->
                <th mat-sort-header="nombreArticulo" mat-header-cell *matHeaderCellDef> Nombre Artículo </th>
                <td mat-cell *matCellDef="let element">{{element.articulo.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="CUPA">
                <!-- <th mat-header-cell *matHeaderCellDef> Etapa </th> -->
                <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> CUPA </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.pedidoEtapa.nombre}} </td> -->
                <td mat-cell *matCellDef="let element"> 20123456789 </td>
            </ng-container>

            <ng-container matColumnDef="Etapa">
                <!-- <th mat-header-cell *matHeaderCellDef> Etapa </th> -->
                <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> Etapa </th>
                <td mat-cell *matCellDef="let element"> {{element.pedidoEtapa.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Comprobante">
                <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                <!-- <th mat-sort-header="nroCbte" mat-header-cell *matHeaderCellDef> Comprobante </th> -->
                <td mat-cell *matCellDef="let element"> {{element.pedidoCabecera.pedidoCbte.nroCbte}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</ng-template>

<!-- / TEMPLATE LISTA -->


<!-- FILTROS ARTICULOS -->
<ng-template #filtros>
    <form fxLayout="column" name="form">

        <span fxLayoutAlign="space-between">

            <div class="h2 mb-24">
                Filtros por Artículos
            </div>
          
        </span>

        <mat-form-field appearance="outline">
            <mat-label>{{ filtroTipos ? 'Tipos' : 'Cargando...'}}</mat-label>
            <select matNativeControl (change)="selectTipo($event)" [disabled]="!filtroTipos">
                <option [value]="0">TODOS</option>
                <option *ngFor="let tipo of filtroTipos" [value]="tipo.id"
                    [selected]="selectedTipo === tipo.id"> {{ tipo.nombre }}</option>
            </select>
        </mat-form-field>


        <!-- <div fxLayout="row"> -->

        <!-- <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                        [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                </select>
            </mat-form-field>   -->

        <mat-form-field appearance="outline">
            <mat-label>{{ filtroOrigenes ? 'Origen' : 'Cargando...'}}</mat-label>
            <select matNativeControl (change)="selectOrigen($event)" [disabled]="!filtroOrigenes">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let origen of filtroOrigenes" [value]="origen.id"
                        [selected]="selectedOrigen === origen.id"> {{ origen.nombre }}</option>
                </select>
        </mat-form-field>
        <!-- </div> -->


        <div fxLayout="row">

            <!-- <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>{{ filtroEstados ? 'Estado' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectEstado($event)" [disabled]="!filtroEstados">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let estado of filtroEstados" [value]="estado.id"
                        [selected]="selectedEstado === estado.id"> {{ estado.nombre }}</option>
                </select>
            </mat-form-field>    -->
            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                        [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>{{ filtroEtapas ? 'Etapa' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectEtapa($event)" [disabled]="!filtroEtapas">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let etapa of filtroEtapas" [value]="etapa.id"
                        [selected]="selectedEtapa === etapa.id"> {{ etapa.nombre }}</option>
                </select>
            </mat-form-field>
        </div>

        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>{{ filtroProvincias ? 'Provincia' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectProvincia($event)" [disabled]="!filtroProvincias">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                        [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <!-- <mat-label>Localidad</mat-label> -->
                <mat-label>{{ filtroLocalidades ? 'Localidad' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectLocalidad($event)" [disabled]="!filtroLocalidades">
                    <option [value]="0">TODOS</option>
                    <option *ngFor="let localidad of filtroLocalidades" [value]="localidad.id"
                        [selected]="selectedLocalidad === localidad.id"> {{ localidad.nombre }}</option>
                </select>
            </mat-form-field>
        </div>

        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Desde</mat-label>
                <input matInput [min]="minDateDesdeFiltro" [max]="maxDateDesdeFiltro" [matDatepicker]="pickerFiltroDesde" (dateChange)="addEvent('pickerFiltroDesde', $event)">
                <mat-datepicker-toggle matSuffix [for]="pickerFiltroDesde"></mat-datepicker-toggle>
                <mat-datepicker #pickerFiltroDesde></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Hasta</mat-label>
                <input matInput [min]="minDateHastaFiltro" [max]="maxDateHastaFiltro" [matDatepicker]="pickerFiltroHasta" (dateChange)="addEvent('pickerFiltroHasta', $event)">
                <mat-datepicker-toggle matSuffix [for]="pickerFiltroHasta"></mat-datepicker-toggle>
                <mat-datepicker #pickerFiltroHasta></mat-datepicker>
            </mat-form-field>
        </div>

        <button mat-stroked-button color="accent" (click)="buscar()" class="mb-24">
            Aplicar Filtros
        </button>
    </form>
</ng-template>
<!-- / FILTROS ARTICULOS -->


<!-- FILTROS LOTE -->
<ng-template #filtrosLote>

    <div fxLayout="column">

        <mat-form-field appearance="outline">
            <mat-label>Lote</mat-label>
            <input #buscarLote (keyup)="searchLote()" matInput value="" placeholder="Buscar lote">
            <!-- <input matInput value="" placeholder="Buscar lote"> -->
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div fxLayout="row">

            <mat-form-field appearance="outline" fxFlex="50" class="mr-4">
                <mat-label>Desde (lote)</mat-label>
                <input matInput [min]="minDateDesdeLote" [max]="maxDateDesdeLote" [matDatepicker]="pickerLoteDesde" (dateChange)="addEvent('pickerLoteDesde', $event)">
                <mat-datepicker-toggle matSuffix [for]="pickerLoteDesde"></mat-datepicker-toggle>
                <mat-datepicker #pickerLoteDesde></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="ml-4">
                <mat-label>Hasta (lote)</mat-label>
                <input matInput [min]="minDateHastaLote" [max]="maxDateHastaLote" [matDatepicker]="pickerLoteHasta" (dateChange)="addEvent('pickerLoteHasta', $event)">
                <mat-datepicker-toggle matSuffix [for]="pickerLoteHasta"></mat-datepicker-toggle>
                <mat-datepicker #pickerLoteHasta></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</ng-template>
<!-- / FILTROS LOTE -->