<div class="dialog-content-wrapper" class="primerDiv">
    <div fxLayout="row">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="titulo">
                <span class="title dialog-title">Cargar datos y confirmar remito</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div class="divSpinner" *ngIf="this.mostrarSpinner">
        <mat-spinner strokeWidth="5" [diameter]="40"></mat-spinner>
    </div>

    <div mat-dialog-content class="pb-0 m-0" *ngIf="!this.mostrarSpinner" style="width: 100%;" fusePerfectScrollbar>
        <form class="formClass">

            <!-- <div fxLayout="row" class="mb-8" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ filtroDepositosCarga ? 'Depositos Carga' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectDepositoCarga($event)" [disabled]="!filtroDepositosCarga">
                        <option *ngFor="let deposito of filtroDepositosCarga" [value]="deposito.id"
                        [selected]="selectedDepositoCarga === deposito.id">
                            {{ deposito.nombre }}
                        </option>
                          </select>
                </mat-form-field>
            </div> -->

            <div fxLayout="row" class="mb-8" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ filtroTalonarios ? 'Talonarios' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectTalonario($event)" [disabled]="!filtroTalonarios">
                        <option *ngFor="let talonario of filtroTalonarios" [value]="talonario.nroTalonario"
                        [selected]="selectedTalonario === talonario.nroTalonario"> 
                            {{ talonario.alias }}
                        </option>
                    </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="mb-8" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Próximo Comprobante</mat-label>
                    <input matInput disabled [value]="this.proxCbte">
                </mat-form-field>
            </div>

            <div fxLayout="row" class="mb-8" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ filtroTransportes ? 'Transporte' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectTransporte($event)" [disabled]="!filtroTransportes">
                        <option [value]="0">Seleccionar Transporte</option>
                        <option *ngFor="let transporte of filtroTransportes" [value]="transporte.id"
                                [selected]="selectedTransporte === transporte.id"> 
                                {{ transporte.nombre }}
                        </option>
                    </select>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 divBotones" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button (click)="remitir()" class="btn" [disabled]="!this.selectedTransporte" color="accent" aria-label="SAVE">
            Remitir
        </button>

        <button mat-raised-button class="btn" (click)="matDialogRef.close()" aria-label="Delete">
            Cancelar
        </button>

    </div>
</div>