<app-plantilla-fondo titulo='Código de barras'>
  <div contenido class="content" fxLayout="row" fxLayoutAlign="center">
    <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">

      <div class="h2 mb-24">Agregar código de barras</div>
      <mat-form-field class="example-full-width">
        <mat-label>Codigo Articulo</mat-label>
        <input matInput disabled value="{{this.codigoArticulo}}">
      </mat-form-field>
      
      <br>
      
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput disabled value="{{this.nombre}}">
      </mat-form-field>
      
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Codigo de Barra</mat-label>
        <input matInput [(ngModel)]='this.codigoDeBarra' [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      
      <br>
      
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput [(ngModel)]='this.descripcion' [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <div class="mt-4 pt-4" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
        <button mat-raised-button class="mr-5px" color="warn" (click)="volver()">Cancelar</button>
      </div>
    </form>
  </div>
</app-plantilla-fondo>