@import "src/@fuse/scss/fuse";
.contact-form-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }
    @include media-breakpoint('gt-xs') {
        width: 300px;
    }
    .mat-dialog-container {
        padding: 0;
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .toolbar-bottom {
            height: auto;
        }
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
        background: red !important;
    }
}

.divBotones {
    justify-content: space-between !important;
    margin-left: 10px !important;
    margin-right: 5px !important;
}

.formClass {
    width: 350px !important;
}

.divSpinner {
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 300px;
    width: 350px;
}

.btn {
    width: 120px;
}

.titulo {
    background: #039be6;
    color: white;
    height: 40px;
    width: 350px;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-left: 23px;
}

.btnToggle {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

.turnos {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 30px;
}

.selectFecha {
    width: 250px;
}

::ng-deep .tooltip {
    font-size: 16px !important;
    color: black;
}

.turnosDiv {
    align-items: center;
}

.alertTurno {
    padding-left: 50px;
    padding-right: 45px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background-color: #ff5e00;
    text-transform: uppercase;
    width: 250px;
    height: 20px;
    padding-top: 4px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 10px;
    margin-left: 50px;
}


/* .primerDiv {
    background: red !important;
} */