<app-plantilla-fondo-simple titulo='Controlar Orden' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" style="max-width: 100%;">

            <div fxLayout="row" class="titular">
                <h1 class="colorText"> Orden {{ this.nombreOrden }}</h1>
            </div>

            <div class="fuse-card my-20 pl-24 pr-24" style="max-width: 100%;">

                <div fxLayout="row" fxLayoutAlign="space-around">

                    <div class="controlesBusqueda2">
                        <mat-form-field appearance="outline" class="inputBusqueda2">
                            <mat-label>Controlar un articulo por CUPA</mat-label>
                            <input #controlarCupa (keyup)="searchCupa()" (keydown)="saltarAboton($event)" matInput value="" placeholder="Ingrese el CUPA de un articulo">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="botonesBusqueda2">
                            <button [disabled]="!this.cupa" #btnRef="matButton" (click)="controlarArticuloPorCupa()" class="btn" mat-raised-button color="primary">
                                Controlar 
                            </button>

                        </div>
                    </div>
                </div>

                <ng-container *ngTemplateOutlet="remitos" class="tablaArticulos"></ng-container>
            </div>
        </div>
    </div>

</app-plantilla-fondo-simple>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<ng-template #remitos>

    <div fxLayout="row" class="divEstado">
        <mat-label class="mt-16">Estado del lote: </mat-label>
        <p *ngIf="this.estadoOrden === 'CONTROLADO'" class="estadoControlado">{{ this.estadoOrden }}</p>
        <p *ngIf="this.estadoOrden === 'A CONTROLAR'" class="estadoAcontrolar">{{ this.estadoOrden }}</p>
    </div>

    <div style="width: 100%; overflow: auto;">
        <div class="divSpinner" *ngIf="!this.dataSource2">
            <mat-spinner strokeWidth="5" [diameter]="40"></mat-spinner>
        </div>

        <table mat-table matSort *ngIf="this.dataSource2" (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8 tablaArticulos">
            <ng-container matColumnDef="idArticulo">
                <th mat-header-cell *matHeaderCellDef> Id Articulo </th>
                <td mat-cell class="pl-32 " *matCellDef="let articulo"> {{ articulo.idArticulo }} </td>
            </ng-container>

            <ng-container matColumnDef="nombreArticulo">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell class="espaciado" *matCellDef="let articulo">{{ articulo.nombreArticulo }}</td>
            </ng-container>

            <ng-container matColumnDef="codigoArticulo">
                <th mat-header-cell *matHeaderCellDef> Codigo Articulo </th>
                <td mat-cell *matCellDef="let articulo"> {{ articulo.codigoArticulo }} </td>
            </ng-container>

            <ng-container matColumnDef="codigoUnicoParteArticulo">
                <th mat-header-cell *matHeaderCellDef> CUPA </th>
                <td mat-cell class="example-button-row" *matCellDef="let articulo">{{ articulo.codigoUnicoParteArticulo }} </td>
            </ng-container>

            <ng-container matColumnDef="etapa">
                <th mat-header-cell *matHeaderCellDef> Etapa </th>
                <td mat-cell class="example-button-row" *matCellDef="let articulo">{{ articulo.etapa }} </td>
            </ng-container>

            <ng-container matColumnDef="nroCbte">
                <th mat-header-cell *matHeaderCellDef> Nro Comprobante </th>
                <td mat-cell *matCellDef="let articulo"> {{ articulo.nroCbte }} </td>
            </ng-container>

            <ng-container matColumnDef="nroParte">
                <th mat-header-cell *matHeaderCellDef> Nro Parte </th>
                <td mat-cell class="example-button-row pl-16" *matCellDef="let articulo">{{ articulo.nroParte }} </td>
            </ng-container>

            <ng-container matColumnDef="checkTransporte">
                <th mat-header-cell *matHeaderCellDef> Chequeo </th>
                <td mat-cell class="example-button-row pl-16" *matCellDef="let articulo">
                    <mat-icon *ngIf="articulo.checkTransporte" class="active-icon green-600">check</mat-icon>
                    <mat-icon *ngIf="!articulo.checkTransporte" class="active-icon red-500">close</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</ng-template>