<app-plantilla-fondo-simple titulo='Ver Comprobante' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" style="max-width: 100%;">


            <div fxLayout="row" class="titular">
                <!-- *ngIf="!this.editLote" -->
                <h1 class="colorText"> Comprobante {{ this.nroComprobante }}</h1>

                <!-- <div *ngIf="this.editLote" class="input-group mb-3">
                    <input #nombreLoteInput type="text" class="nombreLote" placeholder="({{ this.nombreLote }})  -  Inserte el nuevo nombre del lote">
                    <button mat-raised-button class="btn btn-outline-secondary" color="light" (click)="actualizarNombreLote(nombreLoteInput.value)" type="button" id="button-addon1">Modificar</button>
                </div> -->

                <!-- <button mat-raised-button color="light" class="mt-22">Eliminar lote</button> -->
                <!-- </div> -->
            </div>
            <!-- / Filtros en Pantalla grande -->

            <!-- SECCION ARTICULOS -->
            <div class="fuse-card my-20 pl-24 pr-24" style="max-width: 100%;">

                <!-- TITULO/BUSCADOR/BOTON -->
                <div fxLayout="row" fxLayoutAlign="space-around">

                    <div class="controlesBusqueda">
                        <mat-form-field appearance="outline" class="inputBusqueda">
                            <mat-label>Código de Artículo o Comprobante</mat-label>
                            <!-- (keyup)="searchCbte()" -->
                            <input #buscarCbte class="text-uppercase" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="botonesBusqueda">
                            <button class="btn" mat-raised-button color="primary">
                                Buscar
                            </button>

                            <!-- <button (click)="imprimirCupa()" class="btn" mat-raised-button color="primary">
                                    Imprimir CUPA
                            </button>

                            <button (click)="editarLote()" class="btn" mat-raised-button color="primary">
                                    Editar Lote 
                            </button> -->
                        </div>
                    </div>
                </div>

                <!-- / TITULO/BUSCADOR/BOTON -->

                <ng-container *ngTemplateOutlet="pedidos" class="tablaArticulos"></ng-container>
            </div>
            <!-- / SECCION ARTICULOS -->
        </div>

    </div>
    <!-- / CONTENIDO -->
</app-plantilla-fondo-simple>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->


<ng-template #pedidos>
    <mat-card-subtitle class="pl-24">Lista de Pedidos</mat-card-subtitle>
    <div style="width: 100%; overflow: auto;">
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" style="width: 100%;">

            <ng-container matColumnDef="comprobante">
                <th mat-header-cell *matHeaderCellDef style="width: 60px; padding: 15px !important;"> Comprobante </th>
                <td mat-cell *matCellDef="let element" class="dato" style="width: 250px; padding: 15px !important;">
                    {{ element.pedidoTipo }} - {{ element.nroCbte }}
                </td>
            </ng-container>

            <ng-container matColumnDef="nombreArticulo">
                <th mat-sort-header="nombreArticulo" mat-header-cell *matHeaderCellDef> Artículo </th>
                <td mat-cell *matCellDef="let element" class="dato">
                    <span *ngIf="element.cantArticulos > 1" [matBadge]="'+' + (element.cantArticulos -1)" matBadgeOverlap="false">
                         {{ element.priNombreArticulo }}
                    </span>
                    <span *ngIf="element.cantArticulos <= 1">
                        {{ element.priNombreArticulo }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaDeEntrega">
                <th mat-sort-header="fechaDeEntrega" mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
                <td mat-cell *matCellDef="let element" class="pl-8"> {{ getSoloFecha(element.fechaDeEntrega) }} </td>
                <!-- | date:'shortDate' -->
            </ng-container>


            <ng-container matColumnDef="direccion">
                <th mat-sort-header="direccion" mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.direccion }}, {{element.localidad}}, {{ element.provincia }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="etapa">
                <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> Etapa </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.priEtapa ==='INICIAL'" class="pl-32 h5 estadoInicial">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='EN LOTE'" class="pl-24 h5 estadoEnLote">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='ESTANTERIA'" class="pl-16 h5 estadoEstanteria">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='DARSENA'" class="pl-24 h5 estadoDarsena">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='REMITO'" class="pl-24 h5 estadoAremitir">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='DISTRIBUCION'" class="h5 estadoDistribucion">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='TRANSPORTE'" class="h5 estadoTransporte">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='REINGRESADO'" class="h5 estadoReingresado">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='STAND BY'" class="h5 estadoStandBy">{{ element.priEtapa }}</p>
                    <p *ngIf="element.priEtapa ==='ANULADO'" class="h5 estadoAnulado">{{ element.priEtapa }}</p>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- </app-plantilla-fondo-simple> -->

    <!-- <ng-template #articulos>-->
</ng-template>