<app-plantilla-fondo-simple titulo='Ver Orden de Distribucion' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" style="max-width: 100%;">

            <div fxLayout="row" class="titular">
                <!-- LOTE -->
                <!-- <div fxFlex="100" class="fuse-card p-24 mr-8"> -->
                <h1 class="colorText" *ngIf="!this.editLote"> {{ this.nombreLote }} </h1>

                <div *ngIf="this.editLote" class="input-group mb-3">
                    <input #nombreLoteInput type="text" class="nombreLote" placeholder="({{ this.nombreLote }})  -  Inserte el nuevo nombre del lote">
                    <button mat-raised-button class="btn btn-outline-secondary" color="light" (click)="actualizarNombreLote(nombreLoteInput.value)" type="button" id="button-addon1">Modificar</button>
                </div>

                <button mat-raised-button color="light" class="mt-22" (click)="eliminarOrdenDeDistribucion()">Eliminar lote</button>
                <!-- </div> -->
            </div>
            <!-- SECCION ARTICULOS -->
            <div class="fuse-card my-20 pl-24 pr-24" style="max-width: 100%;">

                <!-- TITULO/BUSCADOR/BOTON -->
                <div fxLayout="row" fxLayoutAlign="space-around">

                    <div class="controlesBusqueda">
                        <mat-form-field appearance="outline" class="inputBusqueda">
                            <mat-label>Código de Artículo o Comprobante</mat-label>
                            <input #buscarCbte class="text-uppercase" (keyup)="searchCbte()" matInput value="" placeholder="Buscar Cód. Artículo o comprobante">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="botonesBusqueda">
                            <button class="btn" mat-raised-button color="primary" [matBadge]="selection.selected.length" [matBadgeHidden]="selection.selected.length===0" matBadgeColor="warn" [disabled]="selection.selected.length===0">
                                Eliminar Selec.
                            </button>
                            <!-- (click)="sacarDelLote()" -->

                            <button (click)="editarOrden()" class="btn" mat-raised-button color="primary">
                                    Editar Orden 
                            </button>
                            <button (ngModel)="agregarRemito()" class="btn" mat-raised-button color="primary">
                                    Agregar Remitos 
                            </button>
                        </div>
                    </div>
                </div>

                <!-- / TITULO/BUSCADOR/BOTON -->
                <ng-container *ngTemplateOutlet="remitos" class="tablaArticulos"></ng-container>
            </div>
            <!-- / SECCION ARTICULOS -->
        </div>
    </div>
    <!-- / CONTENIDO -->
</app-plantilla-fondo-simple>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<ng-template #remitos>

    <div style="width: 100%; overflow: auto;">
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8 tablaArticulos">

            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef class="px-24">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() 
                        && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row" class="px-24">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header="id" *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let remito"> {{ remito.id }} </td>
            </ng-container>

            <ng-container matColumnDef="codComprobante">
                <th mat-header-cell mat-sort-header="nombre" *matHeaderCellDef> Codigo Comprobante </th>
                <td mat-cell *matCellDef="let remito"> {{ remito.pedidoTipoCbte.codigoCbte }} </td>
            </ng-container>

            <ng-container matColumnDef="nroComprobante">
                <th mat-header-cell mat-sort-header="nroComprobante" *matHeaderCellDef> Nro Comprobante </th>
                <td mat-cell *matCellDef="let remito"> {{ remito.nroCbte }} </td>
            </ng-container>

            <ng-container matColumnDef="fechaAlta">
                <th mat-header-cell mat-sort-header="fechaAlta" *matHeaderCellDef> Fecha Alta </th>
                <td mat-cell *matCellDef="let remito"> {{ getSoloFecha(remito.fechaCbte) }} </td>
            </ng-container>

            <ng-container matColumnDef="cantArticulos">
                <th mat-header-cell mat-sort-header="cantArticulos" *matHeaderCellDef> Cant Articulos </th>
                <td mat-cell class="example-button-row" *matCellDef="let remito">{{ remito.pedidoDetalles.length }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- </app-plantilla-fondo-simple> -->

    <!-- <ng-template #articulos>-->
</ng-template>