<ng-container *ngIf="this.length > 0; then hasNovedades; else notHasNovedades">
</ng-container>


<ng-template #notHasNovedades>
    <mat-card class="align-items: center;">{{this.mensaje}}</mat-card>
</ng-template>

<ng-template #hasNovedades>
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-z8" style="width: 100%;">

        <ng-container matColumnDef="novedad">
            <th mat-header-cell *matHeaderCellDef> Novedad </th>
            <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <div class="itemsEstado">
                    <mat-icon *ngIf="element.estado === 'LEIDO'" class="icon-notifications styleLeido" :before></mat-icon>
                    <mat-icon *ngIf="element.estado === 'PROCESADO'" class="icon-notifications styleProcesado" :before></mat-icon>
                    <span class="estado">{{ element.estado }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="comprobante">
            <th mat-header-cell *matHeaderCellDef> Comprobante </th>
            <td mat-cell *matCellDef="let element"> {{ element.cbte.nroCbte }} </td>
        </ng-container>

        <ng-container matColumnDef="btnLeido">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="btnLeido" [disabled]="element.estado === 'LEIDO' || element.estado === 'PROCESADO'" (click)="marcarComoLeidoOprocesado( 1, element.id )"> Marcar visto </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="btnProcesado">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="btnProcesado" [disabled]="element.estado === 'NUEVA' || element.estado === 'PROCESADO'" (click)="marcarComoLeidoOprocesado( 2, element.id )"> Procesar </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTrazabilidad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTrazabilidad;"></tr>
    </table>
</ng-template>