<app-plantilla-fondo titulo='Controlar Lote en {{ this.modo }} - Lote {{ this.idLote }}'>


    <div contenido class="content" fxLayout="row" fxLayoutAlign="center">

        <div style="width: 100%;">

            <div fxLayout="row" class="controlesBusquedaF">
                <div fxLayout="row" class="inputs">
                    <mat-form-field appearance="outline" class="inputBusqueda">
                        <mat-label>Código de Barras</mat-label>
                        <input #buscarCodigoBarras (keydown)="saltarAcupa($event)" (keyup)="searchCodigoBarras()" matInput value="" placeholder="Ingrese un Código de Barras">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputBusqueda">
                        <mat-label>CUPA</mat-label>
                        <input #buscarCUPA id="inputCupa" (keyup)="searchCUPA()" (keydown)="saltarAbotonControlar($event)" matInput value="" placeholder="Ingrese un CUPA">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="botonesBusqueda">
                    <div *ngIf="!this.ocultarBotones">
                        <button mat-raised-button #btnRef="matButton" class="btn" color="primary" (click)="controlarEtapaArticulo()">Controlar</button>

                        <button mat-raised-button class="btn" color="warn" (click)="toggle()">Eliminar</button>
                    </div>
                    <div class="btnToggle">
                        <mat-slide-toggle formcontrolname="hidden" type="button" (click)="toggleBotones()" [(ngModel)]="ocultarBotones" class="mat-slide-toggle"></mat-slide-toggle>
                        <label class="pl-8">Ocultar botones</label>
                    </div>
                </div>
            </div>

            <div [@esconder]="funcionEsconder" class="botonesBusqueda" style="width: 100%;">
                <mat-form-field appearance="outline" class="inputBusquedaBorrar">
                    <mat-label>CUPA a eliminar</mat-label>
                    <input #eliminaCupa class="text-uppercase" (keyup)="searchCUPA()" matInput value="" placeholder="Ingrese un CUPA">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button mat-raised-button class="btnBorrar" color="warn" (click)="borrarArticuloDeLotePorCupa()">Borrar</button>
            </div>
            <!-- <div class="avisoControl"> EN PROCESO -->
            <!-- *ngIf="controlado" -->
            <!-- <mat-card-subtitle class="cardControl">Control exitoso</mat-card-subtitle> -->
            <!--  <mat-label class="cardControl">Control exitoso</mat-label>
            </div> -->

            <mat-label class="ml-24 mt-16">Articulos a controlar</mat-label>
            <app-tabla-retractil *ngIf="this.articulos" [arregloDeDetalles]='this.articulos'></app-tabla-retractil>
        </div>

    </div>
</app-plantilla-fondo>