.btn {
    height: 40px;
    /* margin-bottom: 27px; */
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}

.btnBorrar {
    height: 40px;
    /* margin-bottom: 27px; */
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}

.btnToggle {
    //margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonesBusqueda {
    display: flex;
    width: 900px;
    align-items: center !important;
    justify-content: space-between;
}

.inputBusqueda {
    width: 300px;
    margin-right: 15px;
    margin-top: 20px;
    justify-content: flex-start;
}

.inputBusquedaBorrar {
    width: 300px;
    margin-left: 80px;
    margin-top: 20px;
}

.divEstado {
    padding-left: 60px;
}

.controlesBusquedaF {
    display: flex;
    width: 95%;
    align-items: center !important;
    justify-content: flex-start;
    margin-left: 60px;
    height: 80px;
}

.estadoAcontrolar {
    margin-left: 20px;
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    background-color: #f44336;
    text-transform: uppercase;
    width: 120px !important;
}

.estadoControlado {
    margin-left: 20px;
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    background-color: #43a047;
    text-transform: uppercase;
    width: 120px !important;
}

@media (max-width: 1024px) {
    .controlesBusquedaF {
        display: flex;
        width: 100%;
        align-items: center !important;
        justify-content: flex-start;
        margin-left: 30px;
        height: 80px;
    }
    .inputBusquedaBorrar {
        width: 300px;
        //margin-left: 20px;
        margin-top: 20px;
    }
    .botonesBusqueda {
        display: flex;
        width: 180px;
        align-items: center !important;
        /* justify-content: space-around; */
    }
    .btn {
        height: 40px;
        /* margin-bottom: 27px; */
        width: 80px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .inputBusqueda {
        width: 250px;
        margin-right: 5px;
        margin-top: 20px;
        padding-bottom: 5px !important;
        justify-content: space-between;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
    .controlesBusquedaF {
        display: block !important;
        width: 100%;
        align-items: center !important;
        justify-content: center;
        margin-left: 10px;
        height: 160px;
    }
    .inputs {
        margin-left: 10px;
        display: block;
        justify-content: space-between;
        width: 500px;
    }
    .botonesBusqueda {
        //margin-right: 40px;
        display: flex;
        justify-content: space-between;
        height: 65px;
        width: 505px;
    }
    .btn {
        height: 40px;
        width: 120px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
    }
    app-plantilla-fondo #plantilla1>.center>.header {
        height: 80px !important;
        min-height: 40px !important;
        max-height: 80px !important;
    }
}