<div fxLayout="row" fxLayoutAlign="end center" class="m-12">
    <mat-slide-toggle [(ngModel)]="isChecked">{{isChecked ? 'Mostrar expandido' : 'Mostrar tabla'}}</mat-slide-toggle>
</div>


<div *ngIf="isChecked">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSourceDatosEntrega" class="mat-elevation-z8" style="width: 100%;">
      
        <!-- lote Column -->
        <ng-container matColumnDef="lote">
            <th mat-sort-header="lote" mat-header-cell *matHeaderCellDef> Lote </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoLote ? element.pedidoLote.id : ''}} </td>
        </ng-container>
      
        <!-- codigoArticulo Column -->
        <ng-container matColumnDef="codigoArticulo">
            <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Código Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}} </td>
        </ng-container>
      
        <!-- direccion Column -->
        <ng-container matColumnDef="direccion">
            <th mat-sort-header="direccion" mat-header-cell *matHeaderCellDef> Direccion </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.direccion}} </td>
        </ng-container>
      
        <!-- localidad Column -->
        <ng-container matColumnDef="localidad">
            <th mat-sort-header="localidad" mat-header-cell *matHeaderCellDef> Localidad </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.sysLocalidad.nombre}} </td>
        </ng-container>
      
        <!-- provincia Column -->
        <ng-container matColumnDef="provincia">
            <th mat-sort-header="provincia" mat-header-cell *matHeaderCellDef> Provincia </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.sysLocalidad.sysProvincia.nombre}} </td>
        </ng-container>
      
        <!-- codigoPostal Column -->
        <ng-container matColumnDef="codigoPostal">
            <th mat-sort-header="codigoPostal" mat-header-cell *matHeaderCellDef> Código Postal </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.sysLocalidad.codigoPostal}} </td>
        </ng-container>
      
        <!-- codigoPostal Column -->
        <ng-container matColumnDef="transporte">
            <th mat-sort-header="transporte" mat-header-cell *matHeaderCellDef> Transporte </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.sysTransporte.nombre}} </td>
        </ng-container>
      
        <!-- contacto Column -->
        <ng-container matColumnDef="contacto">
            <th mat-sort-header="contacto" mat-header-cell *matHeaderCellDef> Contacto </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.contacto ? element.pedidoDomicilioEntrega.contacto : ''}} </td>
        </ng-container>
      
        <!-- telefono Column -->
        <ng-container matColumnDef="telefono">
            <th mat-sort-header="telefono" mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.telefono ? element.pedidoDomicilioEntrega.telefono : ''}} </td>
        </ng-container>
      
        <!-- mail Column -->
        <ng-container matColumnDef="mail">
            <th mat-sort-header="mail" mat-header-cell *matHeaderCellDef> Mail </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.mail ? element.pedidoDomicilioEntrega.mail : ''}} </td>
        </ng-container>
      
        <!-- observaciones Column -->
        <ng-container matColumnDef="observaciones">
            <th mat-sort-header="observaciones" mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.observaciones ? element.pedidoDomicilioEntrega.observaciones : ''}} </td>
        </ng-container>
      
        <!-- fechaEntrega Column -->
        <ng-container matColumnDef="fechaEntrega">
            <th mat-sort-header="fechaEntrega" mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.fechaDeEntrega}} </td>
        </ng-container>
      
        <!-- turno Column -->
        <ng-container matColumnDef="turno">
            <th mat-sort-header="turno" mat-header-cell *matHeaderCellDef> Turno </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDomicilioEntrega.pedidoTurno.nombre}} </td>
        </ng-container>
        
        <!-- editar Column -->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Turno </th>
            <td mat-cell class="example-button-row" *matCellDef="let element"> 
              <button mat-stroked-button color="primary" (click)="editar()">
                  <mat-icon>edit</mat-icon>
                  Editar
              </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDatosEntrega"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDatosEntrega;"></tr>
      </table>
      
      <div contenido class=" mb-4">
        <mat-paginator [length]="length"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 15, 100]"
            (page) = "paginar($event)">
        </mat-paginator>
      </div>
</div>

<div *ngIf="!isChecked">
    <div *ngIf = "this.dataSourceDatosDeEntrega.datos.length > 0">

        <div *ngFor="let item of this.dataSourceDatosDeEntrega.datos; let indexItem=index"  #cards fxLayout="column" class="fuse-card" style="max-width: 100%;">
            <div class="mat-card  my-24">
                <div class="h2 m-24"> 
                    {{item.id}} - {{item.direccion}} 
                        
                    <button mat-icon-button color="primary" (click)="verDatoEntrega(item)" class="m-12" >
                        <mat-icon>visibility</mat-icon>                
                    </button>
                    <button mat-icon-button color="primary" (click)="editar()" class="m-12">
                        <mat-icon>edit</mat-icon>                
                    </button>
                </div>
                
                <ng-container >
                    <table mat-table #tabla2 [dataSource]="item.listaPedidoDetalle" class="mat-elevation-z8" style="width: 100%;">
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="codigoArticulo">
                            <th mat-header-cell *matHeaderCellDef> Código Artìculo </th>
                            <td mat-cell *matCellDef="let element"> {{element.codigoArticulo}} </td>
                        </ng-container>
                        
                        <!-- Weight Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombreArticulo}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPedidoDetalle"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPedidoDetalle;"></tr>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</div>