<app-plantilla-fondo titulo='Lista de partes artículos'>

    <!-- SEARCH -->
    <div search class="search-wrapper  ml-sm-32">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" style="background-color: white;">
            <mat-icon style="color: gray;">search</mat-icon>
            <input #filter placeholder="Búsqueda por descripción">
        </div>
    </div>
    <!-- / SEARCH -->


    <!-- CONTENIDO -->
    <table contenido mat-table [dataSource]="dataSource2" class="mat-elevation-z8 mb-4">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th (click)="ordenar(1)" mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="codigoArticulo">
            <th (click)="ordenar(2)" mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.codigoArticulo}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="nombre">
            <th (click)="ordenar(3)" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.articulo.nombre}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="cantidad">
            <th (click)="ordenar(4)" mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell class="example-button-row" *matCellDef="let element"> 
                <button mat-stroked-button color="primary"(click)="editar(element.id)">Editar</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>            
    <!-- / CONTENIDO -->
    <br>
    <div contenido>
        <mat-paginator [length]="29"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 14, 30]"
            (page) = "paginar($event)">
        </mat-paginator>
    </div>
</app-plantilla-fondo>


    
