<div class="center">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

        <!--- ['id', 'codigoBarra', 'descripcion', 'editar', 'borrar'] -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="codigoBarra">
        <th mat-header-cell *matHeaderCellDef> Codigo de Barra </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoDeBarra}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="editar">
            <th (click)='logout()' mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell class="example-button-row" *matCellDef="let element"> <button type="button" class="btn btn-primary"(click)="editar(element.id)">Editar</button> </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="borrar">
            <th (click)='logout()' mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell class="example-button-row" *matCellDef="let element"> <button type="button" class="btn btn-primary"(click)="borrar(element.id)">Borrar</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="example-button-row">
        <button mat-raised-button class="mr-5px" color="warn" (click)="volver()">Volver</button>
        <button mat-raised-button class="mr-5px" color="primary" (click)="agregar()">Agregar</button>
    </div>
</div>