<ng-container
  *ngIf="this.length > 0; then hasTrazabilidad; else notHasTrazabilidad">
</ng-container>


<ng-template #notHasTrazabilidad>
    <mat-card class="align-items: center;">{{this.mensaje}}</mat-card>
</ng-template>

<ng-template #hasTrazabilidad>
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSourceTrazabilidad" class="mat-elevation-z8" style="width: 100%;">
        
        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
            <th mat-sort-header="fecha" mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaAlta}} </td>
        </ng-container>
    
        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-sort-header="estado" mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.trazabilidadAccion.pedidoEtapa.pedidoEstado.nombre}} </td>
        </ng-container>
    
        <!-- Etapa Column -->
        <ng-container matColumnDef="etapa">
            <th mat-sort-header="etapa" mat-header-cell *matHeaderCellDef> Etapa </th>
            <td mat-cell *matCellDef="let element"> {{element.trazabilidadAccion.pedidoEtapa.nombre}} </td>
        </ng-container>

        <!-- Accion Column -->
        <ng-container matColumnDef="accion">
            <th mat-sort-header="accion" mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element"> {{element.trazabilidadAccion.nombre}} </td>
        </ng-container>
    
        <!-- Cupa Column -->
        <ng-container matColumnDef="cupa">
            <th mat-sort-header="cupa" mat-header-cell *matHeaderCellDef> CUPA </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDetalleParte.articuloCupa ? element.pedidoDetalleParte.articuloCupa.codigoUnicoParteArticulo : ''}} </td>
            <!-- <td mat-cell *matCellDef="let element"> VEEEEERRRR!!! </td> -->
        </ng-container>
    
        <!-- Codigo Articulo Column -->
        <ng-container matColumnDef="codigoArticulo">
            <th mat-sort-header="codigoArticulo" mat-header-cell *matHeaderCellDef> Código Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoDetalleParte.pedidoDetalle.articulo.codigoArticulo}} </td>
        </ng-container>
    
        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
            <th mat-sort-header="usuario" mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.sysUsuario.nombre}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTrazabilidad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTrazabilidad;"></tr>
    </table>

    <div contenido class=" mb-4">
        <mat-paginator [length]="length"
            [pageIndex]="page"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 15, 100]"
            (page) = "paginar($event)">
        </mat-paginator>
    </div>
</ng-template>