<h2 mat-dialog-title>Agregar Datos de entrega</h2>

<mat-dialog-content class="mat-typography">

    <div fxLayout="column">

        <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">
                            
            <!-- <div class="fuse-card"> -->
                <!-- <h3>Dirección</h3> -->

                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput [(ngModel)]='this.direccion' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroLocalidades ? 'Localidad' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectLocalidad($event)" [disabled]="!filtroLocalidades">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let localidad of filtroLocalidades" 
                            [value]="localidad.id"
                            [selected]="selectedLocalidad === localidad.id"> {{ localidad.nombre }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroProvincias ? 'Provincia' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectProvincia($event)" [disabled]="!filtroProvincias">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                            [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Código Postal</mat-label>
                    <input matInput [disabled] [value]="this.codigoPostal">
                </mat-form-field>  

                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroTurnos ? 'Trasnporte' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectTransporte($event)" [disabled]="!filtroTransporte">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let transporte of filtroTransporte" [value]="transporte.id"
                            [selected]="selectedTurno === transporte.id"> {{ transporte.nombre }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de entrega</mat-label>
                    <input matInput     
                        [matDatepicker]="picker" 
                        (dateChange)="addEvent($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                            [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                    </select>
                </mat-form-field>
            <!-- </div> -->

            <!-- <div class="fuse-card"> -->
                <!-- <h3>Datos Contacto</h3> -->

                <mat-form-field appearance="outline">
                <mat-label>Contacto</mat-label>
                    <input matInput [(ngModel)]='this.contacto' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput [(ngModel)]='this.telefono' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Mail</mat-label>
                    <input matInput [(ngModel)]='this.mail' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Observaciones</mat-label>
                    <input matInput [(ngModel)]='this.observaciones' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            <!-- </div> -->

        </form>

    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
    <button mat-raised-button [mat-dialog-close]="true" color="accent" (click)= "agregar()">Agregar</button>
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
