<h2 mat-dialog-title>Agregar Datos de entrega</h2>

<mat-dialog-content class="mat-typography">

    <div fxLayout="column">

        <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">
                            
            <!-- <div class="fuse-card"> -->
                <!-- <h3>Dirección</h3> -->

                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroLocalidades ? 'Localidad' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectLocalidad($event)" [disabled]="!filtroLocalidades">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let localidad of filtroLocalidades" 
                            [value]="localidad.id"
                            [selected]="selectedLocalidad === localidad.id"> {{ localidad.nombre }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroProvincias ? 'Provincia' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectProvincia($event)" [disabled]="!filtroProvincias">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                            [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option>
                    </select>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Código Postal</mat-label>
                    <input matInput>
                </mat-form-field>  
    
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de entrega</mat-label>
                    <input matInput>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                    <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                            [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                    </select>
                </mat-form-field>
            <!-- </div> -->

            <!-- <div class="fuse-card"> -->
                <!-- <h3>Datos Contacto</h3> -->

                <mat-form-field appearance="outline">
                <mat-label>Contacto</mat-label>
                    <input matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Mail</mat-label>
                    <input matInput>
                </mat-form-field>
            <!-- </div> -->

        </form>

    </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" color="accent">Agregar</button>

</mat-dialog-actions>
