<h2 *ngIf="this.data.option === 'add'" mat-dialog-title>Agregar Dato de entrega</h2>
<h2 *ngIf="this.data.option === 'upd'" mat-dialog-title>Modificar Dato de entrega</h2>
<h2 *ngIf="this.data.option === 'view'" mat-dialog-title>Ver Dato de entrega</h2>

<mat-dialog-content class="mat-typography">

    <div fxLayout="column">

        <form class="p-24" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto" name="form">

            <!-- <div class="fuse-card"> -->

            <!-- <h3>Dirección</h3> -->

            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput [(ngModel)]='this.direccion' [disabled]='deshabilitado' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ filtroLocalidades ? 'Localidad' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectLocalidad( $event )" [disabled]="!filtroLocalidades || deshabilitado">


                    <!-- <option [(ngModel)]="ciudadDefault" name="ciudadDefault" [value]="ciudadDefault.localidadID" [selected]="selectedLocalidad === ciudadDefault.localidadID" >
                        {{ ciudadDefault.nombreCiudad }}
                    </option> -->

                    <!-- ----------------------------------------------- -->
                    <!-- <option [value]="7600" [selected]="selectedLocalidad === 7600">MAR DEL PLATA</option> -->
                    <!-- <option [(ngModel)]="this.ciudadDefault" [value]="this.ciudadDefault.localidadID" [selected]="selectedLocalidad === this.ciudadDefault.localidadID">
                        {{ this.ciudadDefault.nombreCiudad }}    --[selected]="selectedLocalidad === 7600"
                    </option> -->

                    <option *ngFor="let localidad of filtroLocalidades; let index = index" [value]="localidad.id" [selected]="index == 1401"> {{ localidad.nombre }}</option>
                    
                    <!-- [selected]="selectedLocalidad === localidad.id" -->
                </select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
                <mat-label>{{ filtroProvincias ? 'Provincia' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectProvincia($event)" [disabled]="!filtroProvincias || deshabilitado">
                        <option [value]="0">TODOS</option>
                        <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                            [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option>
                    </select>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>{{ selectedProvincia ? 'Provincia' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectProvincia($event)" [disabled]="!selectedProvincia || deshabilitado">
                    <!-- <option [value]="0">TODOS</option> -->
                    <!-- <option *ngFor="let provincia of filtroProvincias" [value]="provincia.id"
                        [selected]="selectedProvincia === provincia.id"> {{ provincia.nombre }}</option> -->
                    <!-- <option *ngIf="this.selectedProvincia" [value]="selectedProvincia.id"
                        [selected]="selectedProvincia === selectedProvincia.id"> {{ selectedProvincia.nombre }}</option> -->
                        <option *ngIf="this.provincia" [value]="provincia.id"[selected]="selectedProvincia === provincia.id"> 
                            {{ provincia.nombre }}
                        </option>
                </select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Código Postal</mat-label>
                <input matInput disabled [value]="this.codigoPostal">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ filtroTransporte ? 'Trasnporte' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectTransporte($event)" [disabled]="!filtroTransporte || deshabilitado">
                    <option *ngIf="this.mostrarDatos == false" [value]="0">Seleccionar Transporte</option>
                    <option *ngIf="this.mostrarDatos == true"> {{ devolverNombreTransporte(this.data.item.sysTransporte.id) }} </option>
                    <option *ngFor="let transporte of filtroTransporte" [value]="transporte.id"
                        [selected]="selectedTransporte === transporte.id"> {{ transporte.nombre }}</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha de entrega</mat-label>
                <input matInput *ngIf="this.mostrarDatos == false" [matDatepicker]="picker" [min]="minDateHastaFiltro" [value]='valorPicker' (dateChange)="addEvent($event)" [disabled]='deshabilitado'>
                <input matInput *ngIf="this.mostrarDatos == true" [matDatepicker]="picker" [min]="minDateHastaFiltro" [value]='this.valorPicker' (dateChange)="addEvent($event)" [disabled]='deshabilitado'>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Fecha de entrega</mat-label>
                <input matInput *ngIf="this.mostrarDatos == false" [matDatepicker]="picker" [min]="minDateHastaFiltro" [value]='valorPicker' (dateChange)="addEvent($event)" [disabled]='deshabilitado' />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <!-- <input matInput *ngIf="this.mostrarDatos == true" [value]='this.data.item.fechaDeEntrega' [matDatepicker]="picker" [min]="minDateHastaFiltro" (dateChange)="addEvent($event)" [disabled]='deshabilitado'> -->
            <!-- [value]='valorPicker' -->

            <!-- <mat-form-field appearance="fill">
                <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos || deshabilitado">
                    <option [value]="0">Seleccionar Turno</option>
                    <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                        [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                </select>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>{{ filtroTurnos ? 'Turno' : 'Cargando...'}}</mat-label>
                <select matNativeControl (change)="selectTurno($event)" [disabled]="!filtroTurnos || deshabilitado">
                    <option *ngIf="this.mostrarDatos == false"[value]="0">Seleccionar Turno</option>
                    <option *ngIf="this.mostrarDatos == true"> {{ devolverTurno(this.selectedTurno) }} </option>
                    <!-- devolverNombreTransporte(this.selectedTurno) -->
                    <option *ngFor="let turno of filtroTurnos" [value]="turno.id"
                        [selected]="selectedTurno === turno.id"> {{ turno.nombre }}</option>
                </select>
            </mat-form-field>
            <!-- </div> -->

            <!-- <div class="fuse-card"> -->
            <!-- <h3>Datos Contacto</h3> -->

            <mat-form-field appearance="outline">
                <mat-label>Nombre de Contacto</mat-label>

                <input matInput [(ngModel)]='this.contacto' [disabled]='deshabilitado' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput [(ngModel)]='this.telefono' [disabled]='deshabilitado' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mail</mat-label>
                <input matInput [(ngModel)]='this.mail' [disabled]='deshabilitado' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Observaciones</mat-label>
                <input matInput [(ngModel)]='this.observaciones' [disabled]='deshabilitado' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <!-- </div> -->

        </form>

    </div>

</mat-dialog-content>

<mat-dialog-actions *ngIf="this.data.option === 'add'" fxLayoutAlign="space-between">
    <button mat-raised-button [mat-dialog-close]="true" color="accent" [disabled]="!this.estanTodosLosDatos" (click)="agregar()">Agregar</button>
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="this.data.option === 'upd'" fxLayoutAlign="space-between">
    <button mat-raised-button [mat-dialog-close]="true" color="accent" [disabled]="!this.estanTodosLosDatos" (click)="agregar()">Modificar</button>
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="this.data.option === 'view'" fxLayoutAlign="end center">
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>