/* .popUpDatoEntrega {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto !important;
    outline: 0;
    width: 400px !important;
    min-width: 400px !important;
    max-width: 600px !important;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
 */


/* .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto !important;
    outline: 0;
    width: 400px !important;
    min-width: 400px !important;
    max-width: 600px !important;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
} */