<app-plantilla-fondo-simple titulo='{{ this.nombreOrden }}' arrowBack=true>

    <!-- CONTENIDO -->
    <div contenido>

        <div fxLayout="column" style="max-width: 100%;">

            <div fxLayout="row" class="titular">
                <h4>Turno: {{ this.turno }} - Transporte: {{ this.transporte }}</h4>
                <div class="botonesCabecera">
                    <button class="btn" mat-raised-button color="light" (click)="imprimirOrdenDist()">
                        Imprimir
                    </button>

                    <button class="btn" (click)="editarOrdenDist()" mat-raised-button color="light">
                        Editar
                    </button>
                    <button mat-raised-button color="light" class="btn" (click)="eliminarOrdenDeDistribucion()">Eliminar orden</button>
                </div>
            </div>

            <div class="fuse-card my-20 pl-24 pr-24" style="max-width: 100%;">

                <div fxLayout="row" fxLayoutAlign="space-around">

                    <div class="controlesBusqueda">
                        <mat-form-field appearance="outline" name="inputBusqueda" class="inputBusqueda">
                            <mat-label>Buscar Remito</mat-label>
                            <input #buscarCbte class="text-uppercase" (keyup)="searchRemito()" matInput value="" placeholder="Buscar remito por id">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>

                        <div class="botonesBusqueda">
                            <button (click)="getRemitoPorId()" class="btn" mat-raised-button color="primary">
                                Buscar 
                            </button>

                            <button class="btn" (click)="eliminarRemitoDeOrden()" mat-raised-button color="primary" [matBadge]="selection.selected.length" [matBadgeHidden]="selection.selected.length===0" matBadgeColor="warn" [disabled]="selection.selected.length===0">
                                Eliminar Selec.
                            </button>

                            <button type="button" (click)="activarAgregarRemitos()" class="btn" mat-raised-button color="primary">
                                {{ textoBtnAddRemitos }}
                            </button>

                        </div>
                    </div>
                </div>

                <ng-container *ngTemplateOutlet="remitos" class="tablaArticulos"></ng-container>
            </div>
        </div>
    </div>

</app-plantilla-fondo-simple>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<ng-template #remitos>
    <mat-card-subtitle class="pl-16">Remitos que componen la orden</mat-card-subtitle>
    <div style="width: 100%; overflow: auto;">
        <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource2" class="mb-8 tablaArticulos">

            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef class="px-24">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() 
                        && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row" class="px-24">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="comprobante">
                <th mat-header-cell mat-sort-header="nroComprobante" *matHeaderCellDef> Nro Comprobante </th>
                <td mat-cell *matCellDef="let remito"> {{remito.pedidoTipoCbte.codigoCbte}} {{ remito.nroCbte }} </td>
            </ng-container>

            <ng-container matColumnDef="fechaAlta">
                <th mat-header-cell mat-sort-header="fechaAlta" *matHeaderCellDef> Fecha Alta </th>
                <td mat-cell *matCellDef="let remito"> {{ getSoloFecha(remito.fechaCbte) }} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="cantArticulos">
                <th mat-header-cell mat-sort-header="cantArticulos" *matHeaderCellDef> Cant Articulos </th>
                <td mat-cell class="example-button-row pl-32" *matCellDef="let remito">{{ remito.pedidoDetalles.length }} </td>
            </ng-container> -->


            <ng-container matColumnDef="cantArticulos">
                <th mat-header-cell mat-sort-header="cantArticulos" *matHeaderCellDef> Cant Articulos </th>
                <td mat-cell class="example-button-row pl-32" *matCellDef="let remito">
                    <p *ngIf="remito.pedidoDetalles.length > 0" class="articulosAcargar">{{ remito.pedidoDetalles.length }}</p>
                    <p *ngIf="remito.pedidoDetalles.length === 0" class="articulosAcargarCero">{{ remito.pedidoDetalles.length }}</p>
                </td>
            </ng-container>



            <ng-container matColumnDef="direccion">
                <th mat-header-cell mat-sort-header="direccion" *matHeaderCellDef> Direccion </th>
                <td mat-cell class="example-button-row" *matCellDef="let remito">
                    {{ remito.pedidoDetalles[0].pedidoDomicilioEntrega.direccion }}, {{remito.pedidoDetalles[0].pedidoDomicilioEntrega.sysLocalidad.nombre}}, {{remito.pedidoDetalles[0].pedidoDomicilioEntrega.sysLocalidad.sysProvincia.nombre}}
                </td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <!-- <td mat-cell class="example-button-row" *matCellDef="let producto">{{ producto.pedidoCabecera.pedidoCbte.nroCbte }}</td> -->
                <td mat-cell class="example-button-row" *matCellDef="let remito">
                    <button mat-stroked-button (click)="navegarAremito( remito.id )" color="primary"> 
                        Ver remito
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Info </th>
                <td mat-cell class="mx-16" *matCellDef="let remito">

                    <ng-container *ngIf="remito.pedidoDetalles[0].articulo.observaciones; then conInfo; else sinInfo"></ng-container>

                    <ng-template #conInfo>
                        <mat-icon #tooltip="matTooltip" matTooltipClass="tooltip" matTooltip="{{remito.pedidoDetalles[0].articulo.observaciones}}" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button tooltip">info</mat-icon>
                    </ng-template>

                    <ng-template #sinInfo>
                        <mat-icon #tooltip="matTooltip" matTooltip="" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button">info</mat-icon>
                    </ng-template>
                    <!-- <mat-icon #tooltip="matTooltip" matTooltip="{{element.codigoArticuloAsociado}} - {{element.descripcionArticuloAsociado}}" matTooltipPosition="above" matTooltipHideDelay="100" aria-label="" class="example-button">info</mat-icon> -->
                </td>
            </ng-container>

            <ng-container *ngIf="this.mostrarRemitos == true" matColumnDef="accion">
                <th mat-header-cell class="pl-20" *matHeaderCellDef> Acción </th>
                <td mat-cell class="example-button-row" *matCellDef="let remito">
                    <!-- [(ngModel)]="mostrarRemitos" -->
                    <button mat-stroked-button color="accent" (click)="addRemitosAorden(remito)"> Agregar </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</ng-template>